.header .logo-container {
  display: none;
}

.header h1.title {
  margin-left: 0px;
}

.popover {
  padding-top: 0px;
}

.popover .tooltip-inner {
  white-space: pre-line;
  text-align: left;
}

ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
