# Ignore bundler config
/.bundle

# Ignore local bundle
/vendor/bundle

# Ignore local virtualenv (for awscli)
/vendor/venv

# Ignore the build directory
/build

# Ignore cache
/.sass-cache
/.cache

# Log files
*.log

/node_modules

/public/
/resources/
/.hugo_build.lock

/assets/jsconfig.json

/docker-compose.override.yml
