<% primary = current_page.children.reject { |p| (p.data.title.nil? || p.data.deprecated == true) }.sort_by { |p| p.data.title } %>
<% deprecated = current_page.children.find_all { |p| (p.data.deprecated == true) }.sort_by { |p| p.data.title } %>

<%= partial("layouts/children", :locals => { :children => primary }) %>

<% if(deprecated.any?) %>
<hr>
<h2>Deprecated</h2>
<%= partial("layouts/children", :locals => { :children => deprecated }) %>
<% end %>
