<% children.each do |child| %>
<% next if(child.data.hidden_child) %>

<h3 class="doc">

<%= link_to(child.data.title, child.data.redirect_url || child) %>
<% if(child.data.url) %>

<span class="url">(<%= child.data.url %>)</span>

<% end %>

</h3>

<% if(child.data.summary) %>

<%= child.data.summary %>

<% end %>

<% end %>
