<div style="text-align: center; font-style: italic; padding: 3em 0.5em 0em 0.5em;">
  <a href="https://github.com/18F/api.data.gov/blob/master/source<%= current_page.source_file.gsub(current_page.app.source_dir, '') %>">Help Improve this Content</a>
</div>
