      </div>
    </main>
    <!-- /.main -->
  </div>
  <!-- /.content -->
</div>
<!-- /.wrap -->


<footer class="content-info" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <div class="footer-logo">
          <a class="logo-brand local-link" href="https://www.data.gov/" alt="Data.gov">Data.gov</a>
        </div>
        <ul id="menu-footer2" class="nav"><li class="menu-privacy-and-website-policies"><a href="https://www.data.gov/privacy-policy" class="local-link">Privacy and Website Policies</a></li>
          <li class="menu-usa-gov"><a href="https://www.usa.gov/" class="external ext-link" rel="external" onclick="this.target=&#039;_blank&#039;;">USA.GOV</a></li>
          <li class="menu-performance-gov"><a href="http://www.performance.gov/" class="external ext-link" rel="external" onclick="this.target=&#039;_blank&#039;;">PERFORMANCE.GOV</a></li>
        </ul>
      </div>
      <nav class="col-md-3 col-lg-3" role="navigation">
        <ul id="menu-footer" class="nav"><li class="menu-about"><a href="https://www.data.gov/about" class="local-link">About</a></li>
          <li class="menu-open-government"><a href="https://www.data.gov/open-gov/" class="local-link">Open Government</a></li>
          <li class="menu-blog"><a href="https://www.data.gov/meta/" class="local-link">Blog</a></li>
          <li class="menu-metrics"><a href="https://www.data.gov/metrics" class="local-link">Metrics</a></li>
          <li class="menu-events"><a href="https://www.data.gov/events/">Events</a></li>
          <li class="menu-log-in"><a href="/admin/" class="local-link">Log In</a></li>
        </ul>
      </nav>
      <div class="col-md-3 col-lg-3 social-nav">
        <nav role="navigation">
          <ul id="menu-social_navigation" class="nav"><li><a href="https://twitter.com/usdatagov" title="This link will direct you to an external website that may have different content and privacy policies from Data.gov." class="local-link"><i class="fa fa-twitter" ></i><span>Twitter</span></a></li>
            <li><a href="http://github.com/GSA/data.gov/" title="This link will direct you to an external website that may have different content and privacy policies from Data.gov." class="local-link"><i class="fa fa-github" ></i><span>Github</span></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
