      </div>
    </main>
    <!-- /.main -->
  </div>
  <!-- /.content -->
</div>
<!-- /.wrap -->

<footer class="content-info" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-lg-4">
        <form role="search" method="get" style="display: block;" class="search-form form-inline"
          action="//catalog.data.gov/dataset">
          <div class="input-group">
            <label class="sr-only" for="search-footer">Search for:</label>
            <input type="search" id="search-footer" value="" name="q" class="search-field form-control"
            placeholder="Search Data.gov">
            <span class="input-group-btn">
              <button type="submit" class="search-submit btn btn-default">
                <i class="fa fa-search"></i>
                <span class="sr-only">Search</span>
              </button>
            </span>
          </div>
        </form>

        <div class="footer-logo">
          <a class="logo-brand local-link" href="https://www.data.gov/">Data.gov</a>
        </div>
      </div>

      <nav class="col-md-2 col-lg-2" role="navigation">
        <ul id="menu-primary-navigation-1" class="nav"><li class="menu-data"><a href="http://catalog.data.gov/dataset" class="local-link">Data</a></li>
          <li class="dropdown menu-topics"><a class="dropdown-toggle local-link" data-toggle="dropdown" data-target="#" href="http://data.gov/communities/">Topics <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="menu-agriculture"><a href="http://data.gov/food/" class="local-link">Agriculture</a></li>
            <li class="menu-climate"><a href="http://data.gov/climate/" class="local-link">Climate</a></li>
            <li class="menu-consumer"><a href="http://data.gov/consumer/" class="local-link">Consumer</a></li>
            <li class="menu-education"><a href="http://data.gov/education/" class="local-link">Education</a></li>
            <li class="menu-energy"><a href="http://data.gov/energy/" class="local-link">Energy</a></li>
            <li class="menu-finance"><a href="http://data.gov/finance" class="local-link">Finance</a></li>
            <li class="menu-geospatial"><a href="http://data.gov/geospatial/" class="local-link">Geospatial</a></li>
            <li class="menu-global-development"><a href="http://data.gov/development/" class="local-link">Global Development</a></li>
            <li class="menu-health"><a href="http://data.gov/health/" class="local-link">Health</a></li>
            <li class="menu-jobs-skills"><a href="http://data.gov/jobs-and-skills/" class="local-link">Jobs &#038; Skills</a></li>
            <li class="menu-public-safety"><a href="http://data.gov/safety/" class="local-link">Public Safety</a></li>
            <li class="menu-science-research"><a href="http://data.gov/research/" class="local-link">Science &#038; Research</a></li>
            <li class="menu-weather"><a href="http://data.gov/weather/" class="local-link">Weather</a></li>
            <li class="menu-business"><a href="http://data.gov/business/" class="local-link">Business</a></li>
            <li class="menu-cities"><a href="http://data.gov/cities/" class="local-link">Cities</a></li>
            <li class="menu-counties"><a href="http://data.gov/counties/" class="local-link">Counties</a></li>
            <li class="menu-ethics"><a href="https://explore.data.gov/ethics" class="local-link">Ethics</a></li>
            <li class="menu-law"><a href="http://data.gov/law/" class="local-link">Law</a></li>
            <li class="menu-manufacturing"><a href="http://data.gov/manufacturing/" class="local-link">Manufacturing</a></li>
            <li class="menu-ocean"><a href="http://data.gov/ocean/" class="local-link">Ocean</a></li>
            <li class="menu-states"><a href="http://data.gov/states/" class="local-link">States</a></li>
          </ul>
          </li>
          <li class="menu-impact"><a href="http://data.gov/impact/" class="local-link">Impact</a></li>
          <li class="menu-applications"><a href="http://data.gov/applications" class="local-link">Applications</a></li>
          <li class="active menu-developers"><a href="http://data.gov/developers/" class="local-link">Developers</a></li>
          <li class="menu-contact"><a href="http://data.gov/contact" class="local-link">Contact</a></li>
        </ul>
      </nav>

      <nav class="col-md-2 col-lg-2" role="navigation">
        <ul id="menu-footer" class="nav"><li class="menu-about"><a href="http://data.gov/about" class="local-link">About</a></li>
          <li class="menu-open-government"><a href="http://data.gov/open-gov/" class="local-link">Open Government</a></li>
          <li class="menu-faq"><a href="http://data.gov/faq" class="local-link">FAQ</a></li>
          <li class="menu-media"><a href="http://data.gov/media-inquiries/" class="local-link">Media</a></li>
          <li class="menu-glossary"><a href="http://data.gov/glossary" class="local-link">Glossary</a></li>
          <li class="menu-federal-agency-participation"><a href="http://data.gov/metrics" class="local-link">Federal Agency Participation</a></li>
          <li class="menu-data-publishers"><a href="http://data.gov/agencies/" class="local-link">Data Publishers</a></li>
          <li class="menu-accessibility"><a href="http://data.gov/accessibility" class="local-link">Accessibility</a></li>
          <li class="menu-data-policy"><a href="http://data.gov/data-policy" class="local-link">Data Policy</a></li>
          <li class="menu-privacy-policy"><a href="http://data.gov/privacy-policy" class="local-link">Privacy Policy</a></li>
          <li class="menu-performance-gov"><a href="http://performance.gov" class="local-link">Performance.gov</a></li>
          <li class="menu-usa-gov"><a href="http://usa.gov" class="local-link">USA.gov</a></li>
          <li class="menu-log-in"><a href="http://data.gov/wp-login.php" class="local-link">Log In</a></li>
        </ul>
      </nav>

      <div class="col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1 social-nav">
        <nav role="navigation">
          <ul id="menu-social_navigation" class="nav"><li><a href="https://twitter.com/usdatagov" class="local-link"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>
            <li><a href="http://github.com/GSA/data.gov/" class="local-link"><i class="fa fa-github"></i><span>Github</span></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
