<!--[if lt IE 8]>
  <div class="alert alert-warning">
    You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your
    browser</a> to improve your experience.
  </div>
<![endif]-->
<header>
  <div class="banner navbar navbar-default navbar-static-top yamm" role="banner">
    <div class="container">
      <div class="searchbox-row skip-navigation">
        <div class="sr-only skip-link">
          <a href="main" class="local-link">Jump to Content</a>
        </div>
        <div>
          <form role="search" method="get" class="search-form form-inline navbar-right navbar-nav  col-sm-6 col-md-6 col-lg-6" action="//catalog.data.gov/dataset">
            <div class="input-group">
              <label for="search-header" class="sr-only">Search for:</label>



              <input type="search" id="search-header" title="Example searches: Monthly House Price Indexes, Health Care Provider Charge Data, Credit Card Complaints, Manufacturing &amp; Trade Inventories &amp; Sales, Federal Student Loan Program Data" data-strings='{"targets":["Monthly House Price Indexes","Health Care Provider Charge Data","Credit Card Complaints","Manufacturing &amp; Trade Inventories &amp; Sales","Federal Student Loan Program Data"]}' value="" name="q" class="search-field form-control" placeholder="Search Data.gov">
              <input type="hidden" name="sort" value="score desc, name asc">
              <span class="input-group-btn">
                <button type="submit" class="search-submit btn btn-default">
                  <i class="fa fa-search"></i>
                  <span class="sr-only">Search</span>
                </button>
              </span>
            </div>
          </form>

        </div>
      </div>

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="https://www.data.gov/" class="local-link"><h1 class="navbar-brand">Data.gov</h1></a>
      </div>

      <nav class="collapse navbar-collapse" role="navigation">
        <ul id="menu-primary-navigation" class="nav navbar-nav navbar-right"><li class="menu-data"><a href="http://catalog.data.gov/dataset" class="local-link">Data</a></li>
          <li class="dropdown yamm-fw menu-topics"><a class="dropdown-toggle local-link" data-toggle="dropdown" data-target="#" href="http://data.gov/communities/">Topics <b class="caret"></b></a>
          <ul class="dropdown-menu topics">
            <li class="menu-agriculture topic-food"><a href="http://data.gov/food/" class="local-link"><i></i><span>Agriculture</span></a></li>
            <li class="menu-climate topic-climate"><a href="http://data.gov/climate/" class="local-link"><i></i><span>Climate</span></a></li>
            <li class="menu-consumer topic-consumer"><a href="http://data.gov/consumer/" class="local-link"><i></i><span>Consumer</span></a></li>
            <li class="menu-education topic-education"><a href="http://data.gov/education/" class="local-link"><i></i><span>Education</span></a></li>
            <li class="menu-energy topic-energy"><a href="http://data.gov/energy/" class="local-link"><i></i><span>Energy</span></a></li>
            <li class="menu-finance topic-finance"><a href="http://data.gov/finance" class="local-link"><i></i><span>Finance</span></a></li>
            <li class="menu-geospatial topic-geospatial"><a href="http://data.gov/geospatial/" class="local-link"><i></i><span>Geospatial</span></a></li>
            <li class="menu-global-development topic-development"><a href="http://data.gov/development/" class="local-link"><i></i><span>Global Development</span></a></li>
            <li class="menu-health topic-health"><a href="http://data.gov/health/" class="local-link"><i></i><span>Health</span></a></li>
            <li class="menu-jobs-skills topic-jobs-and-skills"><a href="http://data.gov/jobs-and-skills/" class="local-link"><i></i><span>Jobs &#038; Skills</span></a></li>
            <li class="menu-public-safety topic-safety"><a href="http://data.gov/safety/" class="local-link"><i></i><span>Public Safety</span></a></li>
            <li class="menu-science-research topic-research"><a href="http://data.gov/research/" class="local-link"><i></i><span>Science &#038; Research</span></a></li>
            <li class="menu-weather topic-weather"><a href="http://data.gov/weather/" class="local-link"><i></i><span>Weather</span></a></li>
            <li class="menu-business topic-business"><a href="http://data.gov/business/" class="local-link"><i></i><span>Business</span></a></li>
            <li class="menu-cities topic-cities"><a href="http://data.gov/cities/" class="local-link"><i></i><span>Cities</span></a></li>
            <li class="menu-counties topic-counties"><a href="http://data.gov/counties/" class="local-link"><i></i><span>Counties</span></a></li>
            <li class="menu-ethics topic-ethics"><a href="https://explore.data.gov/ethics" class="local-link"><i></i><span>Ethics</span></a></li>
            <li class="menu-law topic-law"><a href="http://data.gov/law/" class="local-link"><i></i><span>Law</span></a></li>
            <li class="menu-manufacturing topic-manufacturing"><a href="http://data.gov/manufacturing/" class="local-link"><i></i><span>Manufacturing</span></a></li>
            <li class="menu-ocean topic-ocean"><a href="http://data.gov/ocean/" class="local-link"><i></i><span>Ocean</span></a></li>
            <li class="menu-states topic-states"><a href="http://data.gov/states/" class="local-link"><i></i><span>States</span></a></li>
          </ul>
          </li>
          <li class="menu-impact"><a href="http://data.gov/impact/" class="local-link">Impact</a></li>
          <li class="menu-applications"><a href="http://data.gov/applications" class="local-link">Applications</a></li>
          <li class="menu-developers"><a href="http://data.gov/developers/" class="local-link">Developers</a></li>
          <li class="menu-contact"><a href="http://data.gov/contact" class="local-link">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="header banner page-heading">
    <div class="container">
      <div class="page-header">
        <h1>
          <div class="category-header"><a href="/" class="local-link"><span>api.data.gov</span></a></div>
        </h1>
        <div class="tagline">
        </div>
      </div>
    </div>
  </div>
</header>

<div role="document">
  <div class="content">
    <main class="main" role="main" id="main">
      <div class="subnav banner">
        <div class="container">
          <nav class="topic-subnav" role="navigation">
          <ul class="nav navbar-nav">
            <li><a href="/docs/" class="local-link<%= " active" if(current_page.url =~ %r{^/docs/}) %>">API Docs</a></li>
            <li><a href="/signup" class="local-link<%= " active" if(current_page.url =~ %r{^/signup/}) %>">API Key Signup</a></li>
          </ul>
          </nav>
        </div>
      </div>
      <%= partial("layouts/breadcrumbs") %>
      <div class="wrap container content-page">
