<nav class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li class="nav-home <%= "active" if(current_page.url == "/") %>"><a href="/">Home</a></li>
      <li class="nav-documentation <%= "active" if(current_page.url =~ %r{^/docs($|/)}) %>"><a href="/docs">Documentation</a></li>
      <li class="nav-community <%= "active" if(current_page.url =~ %r{^/community($|/)}) %>"><a href="/community">Community</a></li>
    </ul>
  </div>
</nav>
                                                                                                                                       
