---
title: Home

---

<p class="home-callout">Easily find and use APIs across federal government.</p>
<hr>

<div class="row-fluid">
  <div class="span4 feature feature-doc">
    <h2><a href="/docs">Web Service Documentation</a></h2>
    <p>Explore our available Web services.</p>
    <ul>
      <% @items.find { |i| i.identifier == '/docs/' }.children.sort_by { |i| i[:title] }.each do |child| %>
        <% if(child[:kind] != "info") %>
          <li><%= link_to(child[:title], child) %></li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="span4 feature feature-key">
    <h2><a href="/signup">API Key</a></h2>
    <p>Sign up to use our APIs.</p>
    <ul>
      <li><a href="/signup">Get an API Key</a></li>
    </ul>

  </div>

  <div class="span4 feature feature-community">
    <h2><a href="/community">Community</a></h2>
    <p>Join the discussion and stay updated.</p>
    <ul>
      <li><a href="http://twitter.com/usadatagov">Follow Us on Twitter</a></li>
    </ul>
  </div>
</div>

<hr>
<div class="row-fluid home-about">
  <h2>About This Service</h2>
  <p>api.data.gov is a free API management service for federal agencies. Our aim is to make it easier for agencies to release and manage APIs.</p>
  <a href="/about/" class="btn">More information for agencies</a>
</div>
