{
  "apiVersion": "3.0.0",
  "swaggerVersion": "1.2",
  "basePath": "<%= ENV["SWAGGER_HOST"] || "http://localhost:4567" %>/docs/regulations_pilot/api-docs",
  "apis": [
    {
      "path": "/comment.json",
      "name": "Comment",
      "description": "Preview of the Regulations.gov Comment API."
    }
  ],
  "info": {
    "title": "Regulations API Pilot Program",
    "description": "<p>The Regulations.gov Comment API is currently in a private pilot phase.  Once it is ready, this API will be made available for all API Key holders.</p><a href=\"/docs/regulations_pilot/requirements/\">Requirements & Best Practices</a><br/><a href=\"/docs/regulations_pilot/showcase/\">Showcase</a><br/><a href=\"/docs/regulations_pilot/faq/\">Frequently Asked Questions</a><br/><a href=\"/docs/regulations_pilot/howto/\">How To</a><br/><a href=\"/docs/regulations_pilot/samples/\">Samples</a>",
    "termsOfServiceUrl": "<%= ENV["SWAGGER_HOST"] || "http://localhost:4567" %>/docs/regulations_pilot/termsofservice/"
  }
}
