---
title: How to use the Regulations.gov Comment API
summary: 
disqus: false

---

# <%= current_page.data.title %>
<%= current_page.data.summary %>

The intended design for developers implementing an end-user oriented solution is that the comment information is submitted to the partner's own infrastructure, not directly to Regulations.gov.  This workflow will help to ensure the API key is protected, and only included in server-to-server communications.
- The expected format of the data submitted to the Regulations.gov Comment API is in a multipart/form-data encryption type, similar to a typical HTML form.
- The name attribute should match the attribute names specified from the comment form service.
- For files, you can allow your users to attach up to 10 documents at 10 MB or less per document. If you have more than one file, the fields should all be named the same: "uploadedFile".
- The following is a simple example of a form that could be submitted to the Comment API service.  
- Keep in mind this simple example is not the intended use, as the api_key is exposed in the form action.

###Sample Form

```html
<form action="http://api.data.gov/regulations/v3/comment?api_key=DEMO_KEY" method="post" enctype="multipart/form-data">
 
    <p>First <input type="text" name="first_name" size="30"/></p>
 
    <p>Last <input type="text" name="last_name" size="30"/></p>
 
    <p>Email <input type="text" name="email" size="30"/></p>
 
    <p>country <input type="text" name="country" size="30"/></p>
 
    <p>organization <input type="text" name="organization" size="30"/></p>
 
    <p>General Comment <textarea name="general_comment"></textarea></p>
 
    <p>Select a file : <input type="file" name="uploadedFile" size="50" /></p>
 
    <p>Select a file : <input type="file" name="uploadedFile" size="50" /></p>
 
    <p>Select a file : <input type="file" name="uploadedFile" size="50" /></p>
 
   <input type="hidden" name=comment_on size="30" value="FSIS_FRDOC_0001-0255"/>
 
   <input type="submit" value="Submit Comment" />
 
</form>
```

##Uploaded Files
The uploaded files must be in one of the accepted formats and no larger then 10 MB.

###Accepted File Types
```
File Types are validated by their extension. The following extensions are currently supported:
"bmp", "doc", "xls", "pdf", "gif", "htm", "html", "jpg", "jpeg", "png", "ppt", 
"rtf", "sgml", "tiff", "tif", "txt", "wpd", "xml", "docx", "xlsx", "pptx"
```

###File Size
```
Uploaded files (attachments) are limited to 10 MB (10,485,760 bytes)
```

If the comment is only provided via one or more uploaded files, then we recommend including the following text as the comment text in general_comment field.

###Comment Text for Uploaded File Only Comments
```
See attached file(s)
```
