---
title: Populations - Single State
summary: Return the population of a given state.
disqus: true

---

# <%= current_page.data.title %>
<%= current_page.data.summary %>

<ul id="toc"></ul>

## Request URL

<pre>GET http://api.data.gov/census/american-community-survey/v1/<em>{year}</em>/populations/states/<em>{state}?parameters</em></pre>

## Request Parameters

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col">Parameter</th>
      <th class="doc-parameters-required" scope="col">Required</th>
      <th class="doc-parameters-value" scope="col">Value</th>
      <th class="doc-parameters-description" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="doc-parameter-name" scope="row">year</th>
      <td class="doc-parameter-required">Yes</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> integer</div>

        <div class="doc-parameter-value-field">
          <strong>Default:</strong> None</div>

        <div class="doc-parameter-value-field">
          <strong>Options:</strong> <em>2010</em>, <em>2011</em>
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>The American Community Survey year to pick.</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">state</th>
      <td class="doc-parameter-required">Yes</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> string</div>

        <div class="doc-parameter-value-field">
          <strong>Default:</strong> None</div>

        <div class="doc-parameter-value-field">
          <strong>Options:</strong> <em>json</em>, <em>xml</em>
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>Two letter <a href="http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations#Table">USPS state code</a> of the state.</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">api_key</th>
      <td class="doc-parameter-required">Yes</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> string</div>

        <div class="doc-parameter-value-field">
          <strong>Default:</strong> None</div>
      </td>
      <td class="doc-parameter-description">
        <p>Your developer API key. See <a href="/doc/api-key">API keys</a> for more information.</p>
      </td>
    </tr>
  </tbody>
</table>

## Examples

### JSON Output Format

<pre>GET <a href="/census/american-community-survey/v1/2011/populations/states/NY?api_key=DEMO_KEY">/census/american-community-survey/v1/2011/populations/states/NY?api_key=DEMO_KEY</a></pre>

```json
[
  ["B02001_001E","NAME","state"],
  ["19302448","New York","36"]
]
```

## Rate Limits

[Standard rate limits](/docs/rate-limits) apply. No more than 1,000 requests may be made in any hour

## Errors

[Standard errors](/docs/errors) may be returned.
