.CodeRay {
  overflow: auto;
  background-color: #f5f5f5;
  border: 1px solid #ccc; // fallback for IE7-8
  border: 1px solid rgba(0,0,0,.15);
  @include border-radius($baseBorderRadius);
  padding: 0px;
}

.CodeRay::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.CodeRay pre {
  border-style: none;
  white-space: pre;
  word-wrap: normal;
}

pre {
  white-space: pre;
  word-wrap: normal;
  overflow: auto;
}

pre code {
  white-space: pre;
}
