<% results = MultiJson.load(RestClient.get("https://catalog.data.gov/api/3/action/package_search", {
  :params => RestClient::ParamsArray.new([
    [:fq_list, "organization:#{agency_id}"],
    [:fq_list, "res_format:API"],
    [:rows, 20],
    [:sort, "title asc"],
  ])
})).fetch("result").fetch("results").sort_by { |result| result.fetch("title") } %>
<ul>
<% results.each do |result| %>
  <li><a href="https://catalog.data.gov/dataset/<%= result.fetch("name") %>"><%= result.fetch("title") %></a></li>
<% end %>
</ul>
