---
title: List of APIs in data.gov
disable_breadcrumbs: true
disable_in_breadcrumbs_trail: true
---

## Note: This page is an experiment under construction, so some content may be out of date or not working

<% data.apis.each do |agency| %>
  <h2><%= agency.name %></h2>

  <table class="table">
    <tr>
      <td style="width: 50%;">APIs listed in Data.gov</td>
      <td style="width: 50%;">Other Known APIs</td>
    </tr>
    <tr>
      <td>
        <% if agency.data_gov_agency_id %>
          <%= partial "data_gov_agency", :locals => { :agency_id => agency.data_gov_agency_id } %>
        <% end %>
      </td>
      <td>
        <% if agency.apis %>
          <%= partial "local_data_agency", :locals => { :apis => agency.apis } %>
        <% end %>
      </td>
    </tr>
  </table>
<% end %>


_Notes_
* API Query - https://catalog.data.gov/api/3/action/package_search?fq_list=organization:usda-gov&fq_list=res_format:API&rows=20
* Proper fields to pull in: {title}, {resource->URL [but only for the format:API resource]}
