---
title: Utility Rates (Version 2 - Deprecated)
summary: 'Deprecated: We encourage you to migrate to [version 3](/docs/nrel/electricity/utility-rates-v3/)
  of the utility rates API.'
url: GET /api/georeserv/service/utility_rates
disqus: true
deprecated: true

---

# <%= current_page.data.title %> <span class="url">(<%= current_page.data.url %>)</span>
<%= current_page.data.summary %>

Find utility rates and the utility companies for a specific location.

<ul id="toc"></ul>

## Request URL

<pre>GET /api/georeserv/service/utility_rates<em>.format?parameters</em></pre>

## Request Parameters

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col">Parameter</th>
      <th class="doc-parameters-required" scope="col">Required</th>
      <th class="doc-parameters-value" scope="col">Value</th>
      <th class="doc-parameters-description" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="doc-parameter-name" scope="row">format</th>
      <td class="doc-parameter-required">Yes</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> string
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> None
        </div>
        <div class="doc-parameter-value-field">
          <strong>Options:</strong> <em>json</em>, <em>xml</em>, <em>csv</em>
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>The output response format.</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">api_key</th>
      <td class="doc-parameter-required">Yes</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> string
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> None
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>Your developer API key. See <a href="/docs/api-key/">API key usage</a> for more information.</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">lat</th>
      <td class="doc-parameter-required">Depends</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> decimal
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> None
        </div>
      </td>
      <td class="doc-parameter-description">Latitude, required if address not given.</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">lon</th>
      <td class="doc-parameter-required">Depends</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> decimal
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> None
        </div>
      </td>
      <td class="doc-parameter-description">Longitude, required if address not given.</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">address</th>
      <td class="doc-parameter-required">Depends</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> string
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> None
        </div>
      </td>
      <td class="doc-parameter-description">Address to use, lat/lon returned by Google's geocoding service.</td>
    </tr>
  </tbody>
</table>

## Response Fields

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col">Field</th>
      <th class="doc-parameters-value" scope="col">Value</th>
      <th class="doc-parameters-description" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="doc-parameter-name" scope="row">errors</th>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> list of dictionaries
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>List of dictionaries containing errors that may be associated with an input field.</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">infos</th>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> list of dictionaries
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>Non-error information about the inputs, or anything else in the system.</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">inputs</th>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> list of dictionaries
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>List of the inputs as understood from the user.</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">version</th>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> string
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>Version of Georeserv used to return this response.</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">warnings</th>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> list of dictionaries
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>Warnings for the system, including information about coming deprecations to parameters, or to the call itself.</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">outputs</th>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> list of outputs
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>First row in the list is the field names, remaining rows are the data, in this case in order by month.</p>
      </td>
    </tr>
  </tbody>
</table>

## Examples

### JSON Output Format

<pre>GET <a href="http://api.data.gov/nrel/georeserv/service/utility_rates.json?address=Boulder,%20CO&amp;api_key=DEMO_KEY">/api/georeserv/service/utility_rates.json?address=Boulder,%20CO&amp;api_key=DEMO_KEY</a>

<div class="highlight-code"><table class="highlighttable"><tr>
<td class="linenos"></td>
<td class="code"></td>
</tr></table></div></pre>

```json
{
  "errors": [
    {
    }
  ],
  "infos": [

  ],
  "inputs": {
    "address": "Boulder, CO"
  },
  "outputs": {
    "commercial": 0.07,
    "company_id": "15466",
    "industrial": 0.06,
    "name": "PSC of Colorado",
    "residential": 0.09
  },
  "version": "2.0.26",
  "warnings": [

  ]
}
```

### XML Output Format

<pre>GET <a href="http://api.data.gov/nrel/georeserv/service/utility_rates.xml?address=Boulder,%20CO&amp;api_key=DEMO_KEY">/api/georeserv/service/utility_rates.xml?address=Boulder,%20CO&amp;api_key=DEMO_KEY</a>

<div class="highlight-code"><table class="highlighttable"><tr>
<td class="linenos"></td>
<td class="code"></td>
</tr></table></div></pre>

```xml
<?xml version="1.0"?>
<params>
  <param>
    <value>
      <array>
        <data>
          <value>
            <string>errors</string>
          </value>
          <value>
            <array>
              <data>
                <value>
                  <struct/>
                </value>
              </data>
            </array>
          </value>
        </data>
      </array>
    </value>
  </param>
  <param>
    <value>
      <array>
        <data>
          <value>
            <string>infos</string>
          </value>
          <value>
            <array>
              <data/>
            </array>
          </value>
        </data>
      </array>
    </value>
  </param>
  <param>
    <value>
      <array>
        <data>
          <value>
            <string>inputs</string>
          </value>
          <value>
            <struct>
              <member>
                <name>address</name>
                <value>
                  <string>Boulder, CO</string>
                </value>
              </member>
            </struct>
          </value>
        </data>
      </array>
    </value>
  </param>
  <param>
    <value>
      <array>
        <data>
          <value>
            <string>outputs</string>
          </value>
          <value>
            <struct>
              <member>
                <name>residential</name>
                <value>
                  <double>0.089999999999999997</double>
                </value>
              </member>
              <member>
                <name>industrial</name>
                <value>
                  <double>0.059999999999999998</double>
                </value>
              </member>
              <member>
                <name>commercial</name>
                <value>
                  <double>0.070000000000000007</double>
                </value>
              </member>
              <member>
                <name>name</name>
                <value>
                  <string>PSC of Colorado</string>
                </value>
              </member>
              <member>
                <name>company_id</name>
                <value>
                  <string>15466</string>
                </value>
              </member>
            </struct>
          </value>
        </data>
      </array>
    </value>
  </param>
  <param>
    <value>
      <array>
        <data>
          <value>
            <string>version</string>
          </value>
          <value>
            <string>2.0.26</string>
          </value>
        </data>
      </array>
    </value>
  </param>
  <param>
    <value>
      <array>
        <data>
          <value>
            <string>warnings</string>
          </value>
          <value>
            <array>
              <data/>
            </array>
          </value>
        </data>
      </array>
    </value>
  </param>
</params>
```

## Rate Limits

[Standard rate limits](/docs/rate-limits) apply. No more than 1,000 requests may be made in any hour

## Errors

[Standard errors](/docs/errors) may be returned. In addition, the following service-specific errors may be returned:

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col">HTTP Status Code</th>
      <th class="doc-parameters-required" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="doc-parameter-name" scope="row">400</th>
      <td class="doc-parameter-description">Invalid Request - One or more parameters did not pass validation, or a parameter may be missing. Check the <em>error</em> section of the response to see how the request url should be modified to address the error.</td>
    </tr>
  </tbody>
</table>
