@import "compass/css3/border-radius";
@import "compass/css3/box-sizing";

.home-callout {
  text-align: center;
  font-size: pxtoem(16px);
  padding: 0px;
  margin: 20px 0px 35px 0px;
}

.home-about {
  text-align: center;
  margin: 18px 0px;
}

.content-page h1 {
  margin: 0 0 1em 0;
}

.breadcrumb {
  font-size: 13px;
  background-color: transparent;
}

table.doc-parameters {
  tbody th {
    background-color: transparent;
    color: inherit;
  }
}

// Fix data.gov styles not working with how bootstrap structures checkboxes by
// default.
div.checkbox {
  padding-left: 0px;
}

.metrics-callout:first-child {
  border-left: none;
}

.metrics-callout {
  text-align: center;
  border-left: 1px solid #ddd;
  margin-top: 30px;

  i.fa {
    font-size: 36px;
    color: #555;
  }

  em {
    font-style: normal;
    font-size: 48px;
    font-weight: 300;
    display: block;
    line-height: 100%;
    margin: 8px 0px 2px 0px;
  }
}

.metrics-since {
  text-align: center;
  font-size: 12px;
  font-style: italic;
  margin-top: 8px;
  margin-bottom: 80px;
}

.metrics-last-updated {
  text-align: center;
  font-size: 12px;
  font-style: italic;
  margin-top: 40px;
}
