.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.qa-faqs .left-half, .qa-faqs .right-half {
	float: left;
	width: 45%;
}

.qa-faqs .right-half {
	margin-left: 5%
}

.qa-category {
	margin-bottom: 30px;
}

.collapsible .qa-faq-answer {
	display: none;
}

.open .qa-faq-answer {
	display: block;
}

.qa-show-more {
	display: block;
	margin: 10px 0 0;
	font-size: 80%;
}

#qaplus_searchform {
	margin-bottom: 20px;
}

.qaplus_search {
	width: 50%;
	margin: 0 10px 0 0;
}