{
  "apiVersion": "2.0.0",
  "swaggerVersion": "1.2",
  "basePath": "<%= ENV["SWAGGER_HOST"] || "http://localhost:4567" %>/docs/regulations/api-docs",
  "apis": [
    {
      "path": "/regulations.json",
      "name": "Regulations",
      "description": "Version 2 of the Regulations.gov API"
    }
  ],
  "info": {
    "title": "Regulations API",
    "description": "<p>Regulations.gov contains data and documents from over 300 Federal agencies; because of differences in agency policy and practice, not all agencies use Regulations.gov in the same way. For example, all Rules and Proposed Rules from agencies should appear on Regulations.gov, however some agencies choose not to post their notices on Regulations.gov. Many agencies receive comments through Regulations.gov, but individual agencies choose whether to post all, some, or none of the comments received back out on Regulations.gov. If an agency received several thousand form letter comments that were identical, they may post them back out individually, or just post one noting that it's representative of all the others.</p><p>You may find that data quantity and quality varies as the data extends back in time. Agencies joined the program at different times beginning in 2003, and agencies have been created, disbanded, or merged during that time period. Some agencies that joined the program have data that dates from prior to 2003.</p><p>Data will change over the course of the day. The latest issue of the Federal Register is generally posted by 9:30am, and the date dimensions (e.g., posted today, closing today, etc.) are generally updated at this time as well. Agencies post public submissions and other documents throughout the day. For this reason counts may vary and may age quickly, depending on site activity and time. The Federal Regulatory community is working together to encourage consistent practices and improve the utility and quality of data provided by Regulations.gov.</p><a href=\"/docs/regulations/changelog/\">Change Log</a>",
    "termsOfServiceUrl": "http://www.regulations.gov/#!developers;page=termsOfService"
  }
}
