{
  "apiVersion": "3.0.0",
  "swaggerVersion": "1.2",
  "basePath": "<%= ENV["SWAGGER_HOST"] || "http://localhost:4567" %>/docs/regulations/api-docs",
  "apis": [
    {
      "path": "/regulations.json",
      "name": "Regulations",
      "description": "Version 3 of the Regulations.gov API"
    }
  ],
  "info": {
    "description": "<a href=\"/docs/regulations/about/\">About our data</a><br /><a href=\"/docs/regulations/changelog/\">Change log</a>",
    "termsOfServiceUrl": "http://www.regulations.gov/#!developers;page=termsOfService"
  }
}
