---
title: Docket Sub-Subtypes
summary: This is a list of Docket Sub-Subtypes and the appropriate encoded value to use with API requests.
disqus: false

---

# <%= current_page.data.title %>
<%= current_page.data.summary %>

<table>
<tbody>
<tr>
<td>
Subtype Name</td>
<td>
URL Encoded Value</td></tr>
<tr>
<td>
Agricultural Aircraft Operations</td>
<td>
AgriculturalAircraftOperations</td></tr>
<tr>
<td>
Air Mail/Other Rates</td>
<td>
AirMail%2FOtherRates</td></tr>
<tr>
<td>
Air Transport Enforcement</td>
<td>
AirTransportEnforcement</td></tr>
<tr>
<td>
Aircraft Maintenance and Alterations</td>
<td>
AircraftMaintenanceand+Alterations</td></tr>
<tr>
<td>
Aircraft Registration</td>
<td>
Aircraft+Registration</td></tr>
<tr>
<td>
Airline Operations</td>
<td>
Airline+Operations</td></tr>
<tr>
<td>
Airline Passenger/Cargo Tariff</td>
<td>
AirlinePassenger%2FCargoTariff</td></tr>
<tr>
<td>
Airline Pricing/Tariff Exemption</td>
<td>
AirlinePricing%2FTariffExemption</td></tr>
<tr>
<td>
Airline Tariff</td>
<td>
Airline+Tariff</td></tr>
<tr>
<td>
Airplane Operator Security</td>
<td>
AirplaneOperatorSecurity</td></tr>
<tr>
<td>
Airport Aid Program</td>
<td>
AirportAidProgram</td></tr>
<tr>
<td>
Airport Certification</td>
<td>
Airport+Certification</td></tr>
<tr>
<td>
Airport Fee Complaint</td>
<td>
AirportFeeComplaint</td></tr>
<tr>
<td>
Airport Security</td>
<td>
Airport+Security</td></tr>
<tr>
<td>
Airport Surplus Property Disposal Restrictions</td>
<td>
AirportSurplusPropertyDisposalRestrictions</td></tr>
<tr>
<td>
Airspace Designation; Airways; and Reporting Points</td>
<td>
AirspaceDesignation;Airways;andReporting+Points</td></tr>
<tr>
<td>
Airspace Rules</td>
<td>
Airspace+Rules</td></tr>
<tr>
<td>
Airworthiness Directives</td>
<td>
Airworthiness+Directives</td></tr>
<tr>
<td>
Airworthiness Standards</td>
<td>
Airworthiness+Standards</td></tr>
<tr>
<td>
Balloons, Kites and Rockets</td>
<td>
Balloons%2C+KitesandRockets</td></tr>
<tr>
<td>
Certification Procedures for Products and Parts</td>
<td>
CertificationProceduresforProductsand+Parts</td></tr>
<tr>
<td>
Certification and Operations: Part 125</td>
<td>
CertificationandOperations:Part125</td></tr>
<tr>
<td>
Certification: Air Carriers and Commercial Operators</td>
<td>
Certification:AirCarriersandCommercial+Operators</td></tr>
<tr>
<td>
Certification: Airmen other than Flight Crewmembers</td>
<td>
Certification:AirmenotherthanFlight+Crewmembers</td></tr>
<tr>
<td>
Certification: Flight Crewmembers other than Pilots</td>
<td>
Certification:FlightCrewmembersotherthan+Pilots</td></tr>
<tr>
<td>
Commercial Air Tours</td>
<td>
CommercialAirTours</td></tr>
<tr>
<td>
Commercial Space Launch Licenses</td>
<td>
CommercialSpaceLaunch+Licenses</td></tr>
<tr>
<td>
Commuter Air Carrier Fitness</td>
<td>
CommuterAirCarrier+Fitness</td></tr>
<tr>
<td>
Commuter and On-Demand Operations Part 135</td>
<td>
CommuterandOn-DemandOperationsPart+135</td></tr>
<tr>
<td>
Denied Variance</td>
<td>
Denied+Variance</td></tr>
<tr>
<td>
Denied Variance Application</td>
<td>
DeniedVarianceApplication</td></tr>
<tr>
<td>
Essential Air Service General</td>
<td>
EssentialAirService+General</td></tr>
<tr>
<td>
Essential Air Service Suspensions</td>
<td>
EssentialAirService+Suspensions</td></tr>
<tr>
<td>
Experimental Variance</td>
<td>
Experimental+Variance</td></tr>
<tr>
<td>
External Load Operations</td>
<td>
ExternalLoadOperations</td></tr>
<tr>
<td>
Fees</td>
<td>
Fees</td></tr>
<tr>
<td>
Flight Crew-Member Certification</td>
<td>
FlightCrew-MemberCertification</td></tr>
<tr>
<td>
Flight Rules</td>
<td>
Flight+Rules</td></tr>
<tr>
<td>
Foreign Air Carrier - Other</td>
<td>
ForeignAirCarrier-Other</td></tr>
<tr>
<td>
Foreign Air Carrier Airport Slot Request</td>
<td>
ForeignAirCarrierAirportSlot+Request</td></tr>
<tr>
<td>
Foreign Air Carrier Exemption</td>
<td>
AgriculturalAircraftOperations</td></tr>
<tr>
<td>
Foreign Air Carrier Permit</td>
<td>
AirMail%2FOtherRates</td></tr>
<tr>
<td>
Foreign Air Carrier Statement of Authorization</td>
<td>
AirTransportEnforcement</td></tr>
<tr>
<td>
Foreign Air Carriers Operations</td>
<td>
AircraftMaintenanceand+Alterations</td></tr>
<tr>
<td>
Foreign Air Carriers and other part 129 Operators</td>
<td>
Aircraft+Registration</td></tr>
<tr>
<td>
Fuel and Engine Emission Standards</td>
<td>
Airline+Operations</td></tr>
<tr>
<td>
General Operating and Flight Rules</td>
<td>
AirlinePassenger%2FCargoTariff</td></tr>
<tr>
<td>
Helicopter Air Carrier Operations</td>
<td>
AirlinePricing%2FTariffExemption</td></tr>
<tr>
<td>
Identification and Registration Marking</td>
<td>
Airline+Tariff</td></tr>
<tr>
<td>
Identification and Registration Markings</td>
<td>
AirplaneOperatorSecurity</td></tr>
<tr>
<td>
Information Collection</td>
<td>
AirportAidProgram</td></tr>
<tr>
<td>
Instrument Flight Altitudes</td>
<td>
Airport+Certification</td></tr>
<tr>
<td>
Instrument and Equipment Requirements</td>
<td>
AirportFeeComplaint</td></tr>
<tr>
<td>
Int'l Air Transport Competitive Practices</td>
<td>
Airport+Security</td></tr>
<tr>
<td>
Maintenance Technician Schools</td>
<td>
AirportSurplusPropertyDisposalRestrictions</td></tr>
<tr>
<td>
Maintenance, Rebuilding, and Alteration</td>
<td>
AirspaceDesignation;Airways;andReporting+Points</td></tr>
<tr>
<td>
Medical Standards and Certification</td>
<td>
Airspace+Rules</td></tr>
<tr>
<td>
Miscellaneous</td>
<td>
Airworthiness+Directives</td></tr>
<tr>
<td>
Motion for Confidential Treatment</td>
<td>
Airworthiness+Standards</td></tr>
<tr>
<td>
Motor Carriers</td>
<td>
Balloons%2C+KitesandRockets</td></tr>
<tr>
<td>
National Security Variance</td>
<td>
CertificationProceduresforProductsand+Parts</td></tr>
<tr>
<td>
Noise Standards</td>
<td>
CertificationandOperations:Part125</td></tr>
<tr>
<td>
Parachute Jumping</td>
<td>
Certification:AirCarriersandCommercial+Operators</td></tr>
<tr>
<td>
Peer Review</td>
<td>
Certification:AirmenotherthanFlight+Crewmembers</td></tr>
<tr>
<td>
Permanent Variance</td>
<td>
Certification:FlightCrewmembersotherthan+Pilots</td></tr>
<tr>
<td>
Petition for Review of Staff Action</td>
<td>
CommercialAirTours</td></tr>
<tr>
<td>
Pilot Certification</td>
<td>
CommercialSpaceLaunch+Licenses</td></tr>
<tr>
<td>
Pilot Schools</td>
<td>
CommuterAirCarrier+Fitness</td></tr>
<tr>
<td>
Pricing Agreement</td>
<td>
CommuterandOn-DemandOperationsPart+135</td></tr>
<tr>
<td>
Quality Clearinghouse</td>
<td>
Denied+Variance</td></tr>
<tr>
<td>
Recording Aircraft Title and Liens</td>
<td>
DeniedVarianceApplication</td></tr>
<tr>
<td>
Repair Stations</td>
<td>
EssentialAirService+General</td></tr>
<tr>
<td>
Representatives/Designees</td>
<td>
EssentialAirService+Suspensions</td></tr>
<tr>
<td>
Rulemaking</td>
<td>
Experimental+Variance</td></tr>
<tr>
<td>
Rulemaking</td>
<td>
ExternalLoadOperations</td></tr>
<tr>
<td>
Rulemaking and Procedural Rules</td>
<td>
Fees</td></tr>
<tr>
<td>
Significant Rulemakings</td>
<td>
FlightCrew-MemberCertification</td></tr>
<tr>
<td>
Special Air Traffic Rules</td>
<td>
Flight+Rules</td></tr>
<tr>
<td>
Special Air Traffic Rules and Airport Traffic Patterns</td>
<td>
ForeignAirCarrier-Other</td></tr>
<tr>
<td>
Statistical</td>
<td>
ForeignAirCarrierAirportSlot+Request</td></tr>
<tr>
<td>
Temporary Variance</td>
<td>
AgriculturalAircraftOperations</td></tr>
<tr>
<td>
Training Centers</td>
<td>
AirMail%2FOtherRates</td></tr>
<tr>
<td>
U.S. Air Carrier Authority - Other</td>
<td>
AirTransportEnforcement</td></tr>
<tr>
<td>
U.S. Air Carrier Exemption</td>
<td>
AircraftMaintenanceand+Alterations</td></tr>
<tr>
<td>
U.S. Air Carrier Foreign Certificate</td>
<td>
Aircraft+Registration</td></tr>
<tr>
<td>
U.S. Air Carrier Interstate Certificate</td>
<td>
Airline+Operations</td></tr>
<tr>
<td>
U.S. Air Carrier Statement of Authorization</td>
<td>
AirlinePassenger%2FCargoTariff</td></tr></tbody></table>