---
title: Document Subtypes
summary: This is a list of Document Subtypes and the appropriate encoded value to use with API requests.
disqus: false

---

# <%= current_page.data.title %>
<%= current_page.data.summary %>

<table>
<tbody>
<tr>
<td>
Subtype Name</td>
<td>
URL Encoded Value</td></tr>
<tr>
<td>
30 Day Proposed Information Collection</td>
<td>
30DayProposedInformationCollection</td></tr>
<tr>
<td>
60 Day Notice</td>
<td>
60DayNotice</td></tr>
<tr>
<td>
60 Day Proposed Information Collection</td>
<td>
60DayProposedInformationCollection</td></tr>
<tr>
<td>
ADN-Denial of Application</td>
<td>
ADN-DenialofApplication</td></tr>
<tr>
<td>
ANTR</td>
<td>
ANTR</td></tr>
<tr>
<td>
Acknowledgement Letter</td>
<td>
Acknowledgement+Letter</td></tr>
<tr>
<td>
Acknowledgement Letter/Receipt</td>
<td>
Acknowledgement+Letter%2FReceipt</td></tr>
<tr>
<td>
Action Memo or Letter</td>
<td>
ActionMemoor+Letter</td></tr>
<tr>
<td>
Ad Hoc Committee</td>
<td>
AdHocCommittee</td></tr>
<tr>
<td>
Additional Information</td>
<td>
Additional+Information</td></tr>
<tr>
<td>
Adjudication</td>
<td>
Adjudication</td></tr>
<tr>
<td>
Adjudication Notice</td>
<td>
Adjudication+Notice</td></tr>
<tr>
<td>
Adjudication Notice Supplement</td>
<td>
AdjudicationNoticeSupplement</td></tr>
<tr>
<td>
Administrative Adjudication</td>
<td>
Administrative+Adjudication</td></tr>
<tr>
<td>
Advance Notice of Proposed Rulemaking (ANPRM)</td>
<td>
AdvanceNoticeofProposedRulemaking+(ANPRM)</td></tr>
<tr>
<td>
Advance Testimony</td>
<td>
Advance+Testimony</td></tr>
<tr>
<td>
Advisory Committee</td>
<td>
Advisory+Committee</td></tr>
<tr>
<td>
Advisory Committee Report</td>
<td>
AdvisoryCommitteeReport</td></tr>
<tr>
<td>
Advisory Council</td>
<td>
Advisory+Council</td></tr>
<tr>
<td>
Advisory Opinion Petition</td>
<td>
AdvisoryOpinionPetition</td></tr>
<tr>
<td>
Advisory Opinion Petition Answer</td>
<td>
AdvisoryOpinionPetition+Answer</td></tr>
<tr>
<td>
Advisory Opinions</td>
<td>
Advisory+Opinions</td></tr>
<tr>
<td>
Affidavit(s)</td>
<td>
Affidavit(s)</td></tr>
<tr>
<td>
Affirmation of an Interim Rule</td>
<td>
AffirmationofanInterimRule</td></tr>
<tr>
<td>
Agency References</td>
<td>
Agency+References</td></tr>
<tr>
<td>
Agency Response</td>
<td>
Agency+Response</td></tr>
<tr>
<td>
Agenda</td>
<td>
Agenda</td></tr>
<tr>
<td>
Agreement</td>
<td>
Agreement</td></tr>
<tr>
<td>
Agreement, Contract</td>
<td>
Agreement%2C+Contract</td></tr>
<tr>
<td>
Airworthiness Concern Sheet</td>
<td>
AirworthinessConcernSheet</td></tr>
<tr>
<td>
Airworthiness Directive Grid</td>
<td>
AirworthinessDirectiveGrid</td></tr>
<tr>
<td>
Airworthiness Directive Proposal Worksheet</td>
<td>
AirworthinessDirectiveProposal+Worksheet</td></tr>
<tr>
<td>
Alternate Means of Compliance</td>
<td>
AlternateMeansof+Compliance</td></tr>
<tr>
<td>
Amendment</td>
<td>
Amendment</td></tr>
<tr>
<td>
Amendment of Pleading</td>
<td>
AmendmentofPleading</td></tr>
<tr>
<td>
Amendment to Grant Proposals</td>
<td>
AmendmenttoGrant+Proposals</td></tr>
<tr>
<td>
Amendment</td>
<td>
Amendment</td></tr>
<tr>
<td>
Analysis</td>
<td>
Analysis</td></tr>
<tr>
<td>
Announcement</td>
<td>
Announcement</td></tr>
<tr>
<td>
Answer</td>
<td>
Answer</td></tr>
<tr>
<td>
Answer to Application for Award of Fees and Expenses (EAJA)</td>
<td>
AnswertoApplicationforAwardofFeesandExpenses+(EAJA)</td></tr>
<tr>
<td>
Antarctic</td>
<td>
Antarctic</td></tr>
<tr>
<td>
Appeal</td>
<td>
Appeal</td></tr>
<tr>
<td>
Appearance Request</td>
<td>
Appearance+Request</td></tr>
<tr>
<td>
Appellate Decision/Action on Appeal</td>
<td>
AppellateDecision%2FActionon+Appeal</td></tr>
<tr>
<td>
Appendix</td>
<td>
Appendix</td></tr>
<tr>
<td>
Application</td>
<td>
Application</td></tr>
<tr>
<td>
Application - Aviation Economic Order Report</td>
<td>
Application-AviationEconomicOrder+Report</td></tr>
<tr>
<td>
Application Approval</td>
<td>
Application+Approval</td></tr>
<tr>
<td>
Application for Presidential Permit</td>
<td>
ApplicationforPresidential+Permit</td></tr>
<tr>
<td>
Application for Variance (VAR)</td>
<td>
ApplicationforVariance+(VAR)</td></tr>
<tr>
<td>
Application-IATA</td>
<td>
Application-IATA</td></tr>
<tr>
<td>
Application-Other</td>
<td>
Application-Other</td></tr>
<tr>
<td>
Application-SubPartB</td>
<td>
Application-SubPartB</td></tr>
<tr>
<td>
Application/Nomination</td>
<td>
Application%2FNomination</td></tr>
<tr>
<td>
Appointees</td>
<td>
Appointees</td></tr>
<tr>
<td>
Approval</td>
<td>
Approval</td></tr>
<tr>
<td>
Approval for Variance (VRA)</td>
<td>
ApprovalforVariance+(VRA)</td></tr>
<tr>
<td>
Approval of Application</td>
<td>
ApprovalofApplication</td></tr>
<tr>
<td>
Approval of Variance (VRA)</td>
<td>
ApprovalofVariance+(VRA)</td></tr>
<tr>
<td>
Argument</td>
<td>
Argument</td></tr>
<tr>
<td>
Assessment Document or Analysis</td>
<td>
AssessmentDocumentor+Analysis</td></tr>
<tr>
<td>
Assessment Document or Analysis Comment</td>
<td>
AssessmentDocumentorAnalysisComment</td></tr>
<tr>
<td>
Assessment Document or Analysis Supplement</td>
<td>
AssessmentDocumentorAnalysisSupplement</td></tr>
<tr>
<td>
Association/Interest Group/Individual</td>
<td>
Association%2FInterest+Group%2FIndividual</td></tr>
<tr>
<td>
Associations</td>
<td>
Associations</td></tr>
<tr>
<td>
Audit</td>
<td>
Audit</td></tr>
<tr>
<td>
Availability of Document</td>
<td>
AvailabilityofDocument</td></tr>
<tr>
<td>
Availability of Environmental Assessment</td>
<td>
AvailabilityofEnvironmental+Assessment</td></tr>
<tr>
<td>
Availability of Environmental Impact Study</td>
<td>
AvailabilityofEnvironmentalImpactStudy</td></tr>
<tr>
<td>
Background Material</td>
<td>
Background+Material</td></tr>
<tr>
<td>
Brief</td>
<td>
Brief</td></tr>
<tr>
<td>
Briefing Paper</td>
<td>
Briefing+Paper</td></tr>
<tr>
<td>
Briefing Schedule</td>
<td>
Briefing+Schedule</td></tr>
<tr>
<td>
CAAC Transmittals</td>
<td>
CAAC+Transmittals</td></tr>
<tr>
<td>
Call for Nominations</td>
<td>
CallforNominations</td></tr>
<tr>
<td>
Certificate Extending Patent Term</td>
<td>
CertificateExtendingPatent+Term</td></tr>
<tr>
<td>
Certificate of Compliance</td>
<td>
CertificateofCompliance</td></tr>
<tr>
<td>
Certificate of Service</td>
<td>
CertificateofService</td></tr>
<tr>
<td>
Certification</td>
<td>
Certification</td></tr>
<tr>
<td>
Certifications</td>
<td>
Certifications</td></tr>
<tr>
<td>
Change in Certification Petition</td>
<td>
ChangeinCertification+Petition</td></tr>
<tr>
<td>
Change in Classification Petition</td>
<td>
ChangeinClassification+Petition</td></tr>
<tr>
<td>
Charter Renewal</td>
<td>
Charter+Renewal</td></tr>
<tr>
<td>
Circular</td>
<td>
Circular</td></tr>
<tr>
<td>
Citizen Petition</td>
<td>
Citizen+Petition</td></tr>
<tr>
<td>
Civil Rights Groups</td>
<td>
CivilRightsGroups</td></tr>
<tr>
<td>
Civil Rights Impact Analysis</td>
<td>
CivilRightsImpact+Analysis</td></tr>
<tr>
<td>
Clarification</td>
<td>
Clarification</td></tr>
<tr>
<td>
Closing Argument</td>
<td>
Closing+Argument</td></tr>
<tr>
<td>
Comment Resolution</td>
<td>
Comment+Resolution</td></tr>
<tr>
<td>
Comment Response</td>
<td>
Comment+Response</td></tr>
<tr>
<td>
Comment on Hearing</td>
<td>
CommentonHearing</td></tr>
<tr>
<td>
Comment on Hearing (CH)</td>
<td>
CommentonHearing+(CH)</td></tr>
<tr>
<td>
Comment(s)</td>
<td>
Comment(s)</td></tr>
<tr>
<td>
Commission SECY Paper</td>
<td>
CommissionSECYPaper</td></tr>
<tr>
<td>
Commission Staff Requirements Memo (SRM)</td>
<td>
CommissionStaffRequirementsMemo(SRM)</td></tr>
<tr>
<td>
Commissioners Decision</td>
<td>
Commissioners+Decision</td></tr>
<tr>
<td>
Committee Renewal</td>
<td>
Committee+Renewal</td></tr>
<tr>
<td>
Committee Nominations</td>
<td>
Committee+Nominations</td></tr>
<tr>
<td>
Company/Industry</td>
<td>
Company%2FIndustry</td></tr>
<tr>
<td>
Company/Organization Comment</td>
<td>
Company%2FOrganization+Comment</td></tr>
<tr>
<td>
Complainants Calculation of Civil Penalty</td>
<td>
ComplainantsCalculationofCivilPenalty</td></tr>
<tr>
<td>
Complaint</td>
<td>
Complaint</td></tr>
<tr>
<td>
Computer Matching Programs</td>
<td>
ComputerMatchingPrograms</td></tr>
<tr>
<td>
Concept Paper</td>
<td>
Concept+Paper</td></tr>
<tr>
<td>
Confirmation of Effective Date</td>
<td>
ConfirmationofEffective+Date</td></tr>
<tr>
<td>
Consent</td>
<td>
Consent</td></tr>
<tr>
<td>
Consent Decree</td>
<td>
Consent+Decree</td></tr>
<tr>
<td>
Consent Order</td>
<td>
Consent+Order</td></tr>
<tr>
<td>
Consolidated Answer</td>
<td>
Consolidated+Answer</td></tr>
<tr>
<td>
Consolidated Reply</td>
<td>
Consolidated+Reply</td></tr>
<tr>
<td>
Control Sheet</td>
<td>
Control+Sheet</td></tr>
<tr>
<td>
Correction</td>
<td>
Correction</td></tr>
<tr>
<td>
Correction(s)</td>
<td>
Correction(s)</td></tr>
<tr>
<td>
Correspondence</td>
<td>
Correspondence</td></tr>
<tr>
<td>
Cost and Benefit Analyses</td>
<td>
CostandBenefit+Analyses</td></tr>
<tr>
<td>
Cost of Living Adjustment</td>
<td>
CostofLiving+Adjustment</td></tr>
<tr>
<td>
Court Order - Court Referral</td>
<td>
CourtOrder-CourtReferral</td></tr>
<tr>
<td>
Critique</td>
<td>
Critique</td></tr>
<tr>
<td>
Critique of Briefs</td>
<td>
CritiqueofBriefs</td></tr>
<tr>
<td>
Culturally Significant Objects</td>
<td>
CulturallySignificantObjects</td></tr>
<tr>
<td>
Curriculum Vitae</td>
<td>
Curriculum+Vitae</td></tr>
<tr>
<td>
Data</td>
<td>
Data</td></tr>
<tr>
<td>
Decision</td>
<td>
Decision</td></tr>
<tr>
<td>
Declaration(s)</td>
<td>
Declaration(s)</td></tr>
<tr>
<td>
Decree</td>
<td>
Decree</td></tr>
<tr>
<td>
Default Judgment</td>
<td>
Default+Judgment</td></tr>
<tr>
<td>
Delay of Effective Date</td>
<td>
DelayofEffective+Date</td></tr>
<tr>
<td>
Delegation</td>
<td>
Delegation</td></tr>
<tr>
<td>
Delegations</td>
<td>
Delegations</td></tr>
<tr>
<td>
Denial</td>
<td>
Denial</td></tr>
<tr>
<td>
Denial for Variance (VRD)</td>
<td>
DenialforVariance+(VRD)</td></tr>
<tr>
<td>
Denial of Petition</td>
<td>
DenialofPetition</td></tr>
<tr>
<td>
Designation of a Foreign Terrorist Organization</td>
<td>
DesignationofaForeignTerrorist+Organization</td></tr>
<tr>
<td>
Designations</td>
<td>
Designations</td></tr>
<tr>
<td>
Destroyed</td>
<td>
Destroyed</td></tr>
<tr>
<td>
Determination and Certification</td>
<td>
DeterminationandCertification</td></tr>
<tr>
<td>
Determinations</td>
<td>
Determinations</td></tr>
<tr>
<td>
Direct Exhibit(s)</td>
<td>
Direct+Exhibit(s)</td></tr>
<tr>
<td>
Direct Final Rule</td>
<td>
DirectFinalRule</td></tr>
<tr>
<td>
Directors Determination</td>
<td>
Directors+Determination</td></tr>
<tr>
<td>
Disclosure of Date and Information</td>
<td>
DisclosureofDateandInformation</td></tr>
<tr>
<td>
Discovery</td>
<td>
Discovery</td></tr>
<tr>
<td>
Discovery Supplement</td>
<td>
Discovery+Supplement</td></tr>
<tr>
<td>
Dismissal</td>
<td>
Dismissal</td></tr>
<tr>
<td>
Dismissal without Prejudice</td>
<td>
DismissalwithoutPrejudice</td></tr>
<tr>
<td>
Draft</td>
<td>
Draft</td></tr>
<tr>
<td>
Drawings</td>
<td>
Drawings</td></tr>
<tr>
<td>
E-mail</td>
<td>
E-mail</td></tr>
<tr>
<td>
E-mail Message</td>
<td>
E-mail+Message</td></tr>
<tr>
<td>
EA and FONSI</td>
<td>
EAandFONSI</td></tr>
<tr>
<td>
Early Comment</td>
<td>
Early+Comment</td></tr>
<tr>
<td>
Early Submission</td>
<td>
Early+Submission</td></tr>
<tr>
<td>
Early Submission Attachment</td>
<td>
EarlySubmissionAttachment</td></tr>
<tr>
<td>
Economic Analysis</td>
<td>
Economic+Analysis</td></tr>
<tr>
<td>
Economic Assessment</td>
<td>
Economic+Assessment</td></tr>
<tr>
<td>
Economic Evaluation</td>
<td>
Economic+Evaluation</td></tr>
<tr>
<td>
Educational and Cultural Affairs</td>
<td>
EducationalandCultural+Affairs</td></tr>
<tr>
<td>
Electronic Comment (EC)</td>
<td>
ElectronicComment(EC)</td></tr>
<tr>
<td>
Electronic Letter</td>
<td>
Electronic+Letter</td></tr>
<tr>
<td>
Electronic Regulation from Form</td>
<td>
ElectronicRegulationfrom+Form</td></tr>
<tr>
<td>
Electronic Request for Appearance</td>
<td>
ElectronicRequestfor+Appearance</td></tr>
<tr>
<td>
Emergency Airworthiness Directive</td>
<td>
EmergencyAirworthinessDirective</td></tr>
<tr>
<td>
Emergency Plan</td>
<td>
Emergency+Plan</td></tr>
<tr>
<td>
Employer</td>
<td>
Employer</td></tr>
<tr>
<td>
Enhanced Use Lease Agreement</td>
<td>
EnhancedUseLease+Agreement</td></tr>
<tr>
<td>
Entry of Appearance</td>
<td>
EntryofAppearance</td></tr>
<tr>
<td>
Entry of Default</td>
<td>
EntryofDefault</td></tr>
<tr>
<td>
Environmental Assessment</td>
<td>
Environmental+Assessment</td></tr>
<tr>
<td>
Environmental Assessment Report</td>
<td>
EnvironmentalAssessmentReport</td></tr>
<tr>
<td>
Environmental Assessment/FONSI</td>
<td>
Environmental+Assessment%2FFONSI</td></tr>
<tr>
<td>
Environmental Categorical Exclusion Determination</td>
<td>
EnvironmentalCategoricalExclusion+Determination</td></tr>
<tr>
<td>
Environmental Group Comment</td>
<td>
EnvironmentalGroupComment</td></tr>
<tr>
<td>
Environmental Impact Analysis Report</td>
<td>
EnvironmentalImpactAnalysis+Report</td></tr>
<tr>
<td>
Environmental Impact Statement</td>
<td>
EnvironmentalImpactStatement</td></tr>
<tr>
<td>
Environmental Report</td>
<td>
Environmental+Report</td></tr>
<tr>
<td>
Environmental assessment</td>
<td>
Environmental+assessment</td></tr>
<tr>
<td>
Erratum</td>
<td>
Erratum</td></tr>
<tr>
<td>
Evaluation</td>
<td>
Evaluation</td></tr>
<tr>
<td>
Evaluation document</td>
<td>
Evaluation+document</td></tr>
<tr>
<td>
Exception/Waiver</td>
<td>
Exception%2FWaiver</td></tr>
<tr>
<td>
Exemption</td>
<td>
Exemption</td></tr>
<tr>
<td>
Exemption Evaluation Form</td>
<td>
ExemptionEvaluationForm</td></tr>
<tr>
<td>
Exemption from Preemption</td>
<td>
ExemptionfromPreemption</td></tr>
<tr>
<td>
Exemption/Waiver</td>
<td>
Exemption%2FWaiver</td></tr>
<tr>
<td>
Exhibit(s)</td>
<td>
Exhibit(s)</td></tr>
<tr>
<td>
Exhibit(s) Supplemental</td>
<td>
Exhibit(s)+Supplemental</td></tr>
<tr>
<td>
Exhibits</td>
<td>
Exhibits</td></tr>
<tr>
<td>
Expert Witness</td>
<td>
Expert+Witness</td></tr>
<tr>
<td>
Extension of Comment Period</td>
<td>
ExtensionofComment+Period</td></tr>
<tr>
<td>
Extension of Compliance Date</td>
<td>
ExtensionofCompliance+Date</td></tr>
<tr>
<td>
Extension of Effective Date</td>
<td>
ExtensionofEffective+Date</td></tr>
<tr>
<td>
Extension of Time</td>
<td>
ExtensionofTime</td></tr>
<tr>
<td>
External attachments</td>
<td>
External+attachments</td></tr>
<tr>
<td>
Fact/Data Sheet</td>
<td>
Fact%2FData+Sheet</td></tr>
<tr>
<td>
Federal Agency Comment</td>
<td>
FederalAgencyComment</td></tr>
<tr>
<td>
Fee Studies</td>
<td>
Fee+Studies</td></tr>
<tr>
<td>
Final</td>
<td>
Final</td></tr>
<tr>
<td>
Final Agency Decision</td>
<td>
FinalAgencyDecision</td></tr>
<tr>
<td>
Final Draft Notices</td>
<td>
FinalDraftNotices</td></tr>
<tr>
<td>
Final Economic Impact Analysis</td>
<td>
FinalEconomicImpact+Analysis</td></tr>
<tr>
<td>
Final Order</td>
<td>
Final+Order</td></tr>
<tr>
<td>
Final Rule</td>
<td>
Final+Rule</td></tr>
<tr>
<td>
Final Rule with Request for Comments</td>
<td>
FinalRulewithRequestfor+Comments</td></tr>
<tr>
<td>
Finance</td>
<td>
Finance</td></tr>
<tr>
<td>
Finding of no Significant Impact</td>
<td>
FindingofnoSignificantImpact</td></tr>
<tr>
<td>
Findings of Fact</td>
<td>
FindingsofFact</td></tr>
<tr>
<td>
Food Label Notification</td>
<td>
FoodLabelNotification</td></tr>
<tr>
<td>
Food Label Notification (FLN)</td>
<td>
FoodLabelNotification+(FLN)</td></tr>
<tr>
<td>
Foreign Airworthiness Directive</td>
<td>
ForeignAirworthinessDirective</td></tr>
<tr>
<td>
Form</td>
<td>
Form</td></tr>
<tr>
<td>
Form Letter</td>
<td>
Form+Letter</td></tr>
<tr>
<td>
Forms</td>
<td>
Forms</td></tr>
<tr>
<td>
Framework Documents</td>
<td>
Framework+Documents</td></tr>
<tr>
<td>
Freedom of Information Summary</td>
<td>
FreedomofInformation+Summary</td></tr>
<tr>
<td>
Freedom of Information Summary (No Federal Register Publication)</td>
<td>
FreedomofInformationSummary(NoFederalRegister+Publication)</td></tr>
<tr>
<td>
Freight Issues</td>
<td>
Freight+Issues</td></tr>
<tr>
<td>
Funding Availability</td>
<td>
Funding+Availability</td></tr>
<tr>
<td>
GDL Guidance</td>
<td>
GDL+Guidance</td></tr>
<tr>
<td>
General Correspondence</td>
<td>
General+Correspondence</td></tr>
<tr>
<td>
General Notice</td>
<td>
General+Notice</td></tr>
<tr>
<td>
Gifts to Federal Employees</td>
<td>
GiftstoFederal+Employees</td></tr>
<tr>
<td>
Government - Federal</td>
<td>
Government-Federal</td></tr>
<tr>
<td>
Government Foreign</td>
<td>
Government+Foreign</td></tr>
<tr>
<td>
Government Local</td>
<td>
Government+Local</td></tr>
<tr>
<td>
Government Owned Invention Available for Licensing</td>
<td>
GovernmentOwnedInventionAvailablefor+Licensing</td></tr>
<tr>
<td>
Government State</td>
<td>
Government+State</td></tr>
<tr>
<td>
Government Tribal</td>
<td>
Government+Tribal</td></tr>
<tr>
<td>
Grant Announcement</td>
<td>
Grant+Announcement</td></tr>
<tr>
<td>
Grant of Petition</td>
<td>
GrantofPetition</td></tr>
<tr>
<td>
Grids</td>
<td>
Grids</td></tr>
<tr>
<td>
Guidance</td>
<td>
Guidance</td></tr>
<tr>
<td>
Health Claim Notification</td>
<td>
HealthClaimNotification</td></tr>
<tr>
<td>
Hearing Exhibits</td>
<td>
Hearing+Exhibits</td></tr>
<tr>
<td>
Hearing Testimony</td>
<td>
Hearing+Testimony</td></tr>
<tr>
<td>
Hearing Transcript</td>
<td>
Hearing+Transcript</td></tr>
<tr>
<td>
Hearing/Meeting Summary</td>
<td>
Hearing%2FMeeting+Summary</td></tr>
<tr>
<td>
Hearing/Meeting Transcript</td>
<td>
Hearing%2FMeeting+Transcript</td></tr>
<tr>
<td>
Hearings</td>
<td>
Hearings</td></tr>
<tr>
<td>
Historical Information (HIST)</td>
<td>
HistoricalInformation(HIST)</td></tr>
<tr>
<td>
ICR Form 83-I</td>
<td>
ICRForm83-I</td></tr>
<tr>
<td>
ICR Supporting Statement</td>
<td>
ICRSupportingStatement</td></tr>
<tr>
<td>
Impact Analysis Report</td>
<td>
ImpactAnalysisReport</td></tr>
<tr>
<td>
Imposition of Nonproliferation Measures</td>
<td>
ImpositionofNonproliferation+Measures</td></tr>
<tr>
<td>
Imposition of Sanctions</td>
<td>
ImpositionofSanctions</td></tr>
<tr>
<td>
Incorporation By Reference</td>
<td>
IncorporationByReference</td></tr>
<tr>
<td>
Incorporation by Reference</td>
<td>
IncorporationbyReference</td></tr>
<tr>
<td>
Index</td>
<td>
Index</td></tr>
<tr>
<td>
Industry Advisory Panel</td>
<td>
IndustryAdvisoryPanel</td></tr>
<tr>
<td>
Industry Circular</td>
<td>
Industry+Circular</td></tr>
<tr>
<td>
Industry Guidance</td>
<td>
Industry+Guidance</td></tr>
<tr>
<td>
Inflationary Assessment Report</td>
<td>
InflationaryAssessmentReport</td></tr>
<tr>
<td>
Information Collection Documentation</td>
<td>
InformationCollectionDocumentation</td></tr>
<tr>
<td>
Information Collection Request (ICR)</td>
<td>
InformationCollectionRequest+(ICR)</td></tr>
<tr>
<td>
Information Collection Request - ICR Form 83-I</td>
<td>
InformationCollectionRequest-ICRForm83-I</td></tr>
<tr>
<td>
Initial Decision</td>
<td>
Initial+Decision</td></tr>
<tr>
<td>
Initial Decision by Admin Law Judge</td>
<td>
InitialDecisionbyAdminLaw+Judge</td></tr>
<tr>
<td>
Initial Economic Impact Analysis</td>
<td>
InitialEconomicImpact+Analysis</td></tr>
<tr>
<td>
Intelligent Transportation Systems</td>
<td>
IntelligentTransportationSystems</td></tr>
<tr>
<td>
Interagency Review</td>
<td>
Interagency+Review</td></tr>
<tr>
<td>
Interim</td>
<td>
Interim</td></tr>
<tr>
<td>
Interim Final Rule</td>
<td>
InterimFinalRule</td></tr>
<tr>
<td>
Internal references</td>
<td>
Internal+references</td></tr>
<tr>
<td>
International Security Advisory Board</td>
<td>
InternationalSecurityAdvisory+Board</td></tr>
<tr>
<td>
International standard</td>
<td>
International+standard</td></tr>
<tr>
<td>
Interpretations</td>
<td>
Interpretations</td></tr>
<tr>
<td>
Interrogatories</td>
<td>
Interrogatories</td></tr>
<tr>
<td>
Invitation for Recommendations</td>
<td>
InvitationforRecommendations</td></tr>
<tr>
<td>
Issuance of Presidential Permit</td>
<td>
IssuanceofPresidential+Permit</td></tr>
<tr>
<td>
Joint Application</td>
<td>
Joint+Application</td></tr>
<tr>
<td>
Judgement</td>
<td>
Judgement</td></tr>
<tr>
<td>
Labor Group</td>
<td>
Labor+Group</td></tr>
<tr>
<td>
Late Comment</td>
<td>
Late+Comment</td></tr>
<tr>
<td>
Late Mass Mail Campaign</td>
<td>
LateMassMail+Campaign</td></tr>
<tr>
<td>
Late Public Comment</td>
<td>
LatePublicComment</td></tr>
<tr>
<td>
Legal Papers</td>
<td>
Legal+Papers</td></tr>
<tr>
<td>
Letter</td>
<td>
Letter</td></tr>
<tr>
<td>
Letter(s)</td>
<td>
Letter(s)</td></tr>
<tr>
<td>
Letter(s) in Opposition</td>
<td>
Letter(s)inOpposition</td></tr>
<tr>
<td>
Letter(s) in Support</td>
<td>
Letter(s)inSupport</td></tr>
<tr>
<td>
License Applications</td>
<td>
License+Applications</td></tr>
<tr>
<td>
Lifting Nonproliferation Measures</td>
<td>
LiftingNonproliferationMeasures</td></tr>
<tr>
<td>
Lifting of Policy</td>
<td>
LiftingofPolicy</td></tr>
<tr>
<td>
List</td>
<td>
List</td></tr>
<tr>
<td>
List (LST)</td>
<td>
List+(LST)</td></tr>
<tr>
<td>
Litigation on the Merits of the Rule</td>
<td>
LitigationontheMeritsoftheRule</td></tr>
<tr>
<td>
MCAI Information Sheet</td>
<td>
MCAIInformationSheet</td></tr>
<tr>
<td>
MI-Minutes of Meeting</td>
<td>
MI-MinutesofMeeting</td></tr>
<tr>
<td>
Management Directive</td>
<td>
Management+Directive</td></tr>
<tr>
<td>
Manufacturer Info.</td>
<td>
Manufacturer+Info.</td></tr>
<tr>
<td>
Map</td>
<td>
Map</td></tr>
<tr>
<td>
Mass Mail Campaign</td>
<td>
MassMailCampaign</td></tr>
<tr>
<td>
Master Index</td>
<td>
Master+Index</td></tr>
<tr>
<td>
Matching</td>
<td>
Matching</td></tr>
<tr>
<td>
Meeting</td>
<td>
Meeting</td></tr>
<tr>
<td>
Meeting Exhibits</td>
<td>
Meeting+Exhibits</td></tr>
<tr>
<td>
Meeting Materials</td>
<td>
Meeting+Materials</td></tr>
<tr>
<td>
Meeting Postponement</td>
<td>
Meeting+Postponement</td></tr>
<tr>
<td>
Meeting Summary</td>
<td>
Meeting+Summary</td></tr>
<tr>
<td>
Meeting Transcripts</td>
<td>
Meeting+Transcripts</td></tr>
<tr>
<td>
Meeting/Teleconference Materials</td>
<td>
Meeting%2FTeleconference+Materials</td></tr>
<tr>
<td>
Member of Congress</td>
<td>
MemberofCongress</td></tr>
<tr>
<td>
Memo</td>
<td>
Memo</td></tr>
<tr>
<td>
Memorandum</td>
<td>
Memorandum</td></tr>
<tr>
<td>
Memorandum in Support</td>
<td>
MemoranduminSupport</td></tr>
<tr>
<td>
Memorandum of Law</td>
<td>
MemorandumofLaw</td></tr>
<tr>
<td>
Memorandum of Support</td>
<td>
MemorandumofSupport</td></tr>
<tr>
<td>
Memorandum of Telephone Conversation</td>
<td>
MemorandumofTelephone+Conversation</td></tr>
<tr>
<td>
Memorandum to Open a Docket</td>
<td>
MemorandumtoOpenaDocket</td></tr>
<tr>
<td>
Minutes</td>
<td>
Minutes</td></tr>
<tr>
<td>
Motion</td>
<td>
Motion</td></tr>
<tr>
<td>
Motion/Answer</td>
<td>
Motion%2FAnswer</td></tr>
<tr>
<td>
Motion/Reply</td>
<td>
Motion%2FReply</td></tr>
<tr>
<td>
Motion/Surreply</td>
<td>
Motion%2FSurreply</td></tr>
<tr>
<td>
NA</td>
<td>
NA</td></tr>
<tr>
<td>
NADA/ANADA-New Animal Drug Application/Abbreviated New Animal Drug Application</td>
<td>
NADA%2FANADA-NewAnimalDrugApplication%2FAbbreviatedNewAnimalDrug+Application</td></tr>
<tr>
<td>
NEPA Documentation</td>
<td>
NEPA+Documentation</td></tr>
<tr>
<td>
NIOSH</td>
<td>
NIOSH</td></tr>
<tr>
<td>
NOM-Nomination</td>
<td>
NOM-Nomination</td></tr>
<tr>
<td>
NVR Notice of Variance</td>
<td>
NVRNoticeof+Variance</td></tr>
<tr>
<td>
Nationally Recognized Testing Laboratory (NRTL)</td>
<td>
NationallyRecognizedTestingLaboratory(NRTL)</td></tr>
<tr>
<td>
Negotiated Rulemaking (NEG REG)</td>
<td>
NegotiatedRulemaking(NEG+REG)</td></tr>
<tr>
<td>
News Releases</td>
<td>
News+Releases</td></tr>
<tr>
<td>
Nomination</td>
<td>
Nomination</td></tr>
<tr>
<td>
Non Comment</td>
<td>
Non+Comment</td></tr>
<tr>
<td>
Notice of Action Taken</td>
<td>
NoticeofAction+Taken</td></tr>
<tr>
<td>
Notice of Adequacy</td>
<td>
NoticeofAdequacy</td></tr>
<tr>
<td>
Notice of Advanced Hearing</td>
<td>
NoticeofAdvanced+Hearing</td></tr>
<tr>
<td>
Notice of Advisory Committee Hearing</td>
<td>
NoticeofAdvisoryCommitteeHearing</td></tr>
<tr>
<td>
Notice of Appeal</td>
<td>
NoticeofAppeal</td></tr>
<tr>
<td>
Notice of Approval</td>
<td>
NoticeofApproval</td></tr>
<tr>
<td>
Notice of Assignment of Proceeding</td>
<td>
NoticeofAssignmentofProceeding</td></tr>
<tr>
<td>
Notice of Availability</td>
<td>
NoticeofAvailability</td></tr>
<tr>
<td>
Notice of Bulletins</td>
<td>
NoticeofBulletins</td></tr>
<tr>
<td>
Notice of Change</td>
<td>
NoticeofChange</td></tr>
<tr>
<td>
Notice of Claim</td>
<td>
NoticeofClaim</td></tr>
<tr>
<td>
Notice of Conference</td>
<td>
NoticeofConference</td></tr>
<tr>
<td>
Notice of Confirmation of Effective Date</td>
<td>
NoticeofConfirmationofEffective+Date</td></tr>
<tr>
<td>
Notice of Data Availability</td>
<td>
NoticeofData+Availability</td></tr>
<tr>
<td>
Notice of Declaration</td>
<td>
NoticeofDeclaration</td></tr>
<tr>
<td>
Notice of Denial</td>
<td>
NoticeofDenial</td></tr>
<tr>
<td>
Notice of Docketing</td>
<td>
NoticeofDocketing</td></tr>
<tr>
<td>
Notice of Extension</td>
<td>
NoticeofExtension</td></tr>
<tr>
<td>
Notice of Filing</td>
<td>
NoticeofFiling</td></tr>
<tr>
<td>
Notice of Final Interpretation</td>
<td>
NoticeofFinal+Interpretation</td></tr>
<tr>
<td>
Notice of Final Priorities, Requirements, Definitions, or Selection Criteria</td>
<td>
NoticeofFinalPriorities%2CRequirements%2C+Definitions%2C+orSelectionCriteria</td></tr>
<tr>
<td>
Notice of Final Rule</td>
<td>
NoticeofFinal+Rule</td></tr>
<tr>
<td>
Notice of Formal Evidentiary Hearing</td>
<td>
NoticeofFormalEvidentiaryHearing</td></tr>
<tr>
<td>
Notice of Funding Availability (NOFA)</td>
<td>
NoticeofFundingAvailability(NOFA)</td></tr>
<tr>
<td>
Notice of Hearing</td>
<td>
NoticeofHearing</td></tr>
<tr>
<td>
Notice of Intent</td>
<td>
NoticeofIntent</td></tr>
<tr>
<td>
Notice of Intent to Appear (NOITA)/Advance Testimony</td>
<td>
NoticeofIntenttoAppear(NOITA)%2FAdvanceTestimony</td></tr>
<tr>
<td>
Notice of Interim Rule</td>
<td>
NoticeofInterim+Rule</td></tr>
<tr>
<td>
Notice of Listening Session</td>
<td>
NoticeofListening+Session</td></tr>
<tr>
<td>
Notice of Meeting</td>
<td>
NoticeofMeeting</td></tr>
<tr>
<td>
Notice of Meeting (NM)</td>
<td>
NoticeofMeeting+(NM)</td></tr>
<tr>
<td>
Notice of Membership</td>
<td>
NoticeofMembership</td></tr>
<tr>
<td>
Notice of Opportunity of Hearing</td>
<td>
NoticeofOpportunityofHearing</td></tr>
<tr>
<td>
Notice of Pre-Hearing Conference</td>
<td>
NoticeofPre-Hearing+Conference</td></tr>
<tr>
<td>
Notice of Preparation</td>
<td>
NoticeofPreparation</td></tr>
<tr>
<td>
Notice of Probable Violation</td>
<td>
NoticeofProbable+Violation</td></tr>
<tr>
<td>
Notice of Proposed Interpretation</td>
<td>
NoticeofProposed+Interpretation</td></tr>
<tr>
<td>
Notice of Proposed Priorities, Requirements, Definitions, or Selection Criteria</td>
<td>
NoticeofProposedPriorities%2CRequirements%2C+Definitions%2C+orSelectionCriteria</td></tr>
<tr>
<td>
Notice of Proposed Rulemaking (NPRM)</td>
<td>
NoticeofProposedRulemaking(NPRM)</td></tr>
<tr>
<td>
Notice of Public Meeting</td>
<td>
NoticeofPublic+Meeting</td></tr>
<tr>
<td>
Notice of Publication</td>
<td>
NoticeofPublication</td></tr>
<tr>
<td>
Notice of Receipt of Petition</td>
<td>
NoticeofReceiptofPetition</td></tr>
<tr>
<td>
Notice of Renewal</td>
<td>
NoticeofRenewal</td></tr>
<tr>
<td>
Notice of Requesting Data, Info, &amp; Views</td>
<td>
NoticeofRequestingData%2CInfo%2C+%26+Views</td></tr>
<tr>
<td>
Notice of Significant Guidance</td>
<td>
NoticeofSignificant+Guidance</td></tr>
<tr>
<td>
Notice of Solicitation</td>
<td>
NoticeofSolicitation</td></tr>
<tr>
<td>
Notice of Stay of Action</td>
<td>
NoticeofStayofAction</td></tr>
<tr>
<td>
Notice of Temporary Permit</td>
<td>
NoticeofTemporary+Permit</td></tr>
<tr>
<td>
Notice of Tentative Final Order</td>
<td>
NoticeofTentativeFinalOrder</td></tr>
<tr>
<td>
Notice of Termination</td>
<td>
NoticeofTermination</td></tr>
<tr>
<td>
Notice of Variance</td>
<td>
NoticeofVariance</td></tr>
<tr>
<td>
Notice with Comment Period</td>
<td>
NoticewithComment+Period</td></tr>
<tr>
<td>
Notice/Hearing/Meeting</td>
<td>
Notice%2FHearing%2FMeeting</td></tr>
<tr>
<td>
Notification of Mail Award</td>
<td>
NotificationofMail+Award</td></tr>
<tr>
<td>
Notification of Settlement</td>
<td>
NotificationofSettlement</td></tr>
<tr>
<td>
Notification to Congress</td>
<td>
NotificationtoCongress</td></tr>
<tr>
<td>
OMB Clearance Material</td>
<td>
OMBClearanceMaterial</td></tr>
<tr>
<td>
OMB Review</td>
<td>
OMB+Review</td></tr>
<tr>
<td>
Objection</td>
<td>
Objection</td></tr>
<tr>
<td>
Objection(s)</td>
<td>
Objection(s)</td></tr>
<tr>
<td>
Offer</td>
<td>
Offer</td></tr>
<tr>
<td>
Office of Management and Budget (OMB)</td>
<td>
OfficeofManagementandBudget+(OMB)</td></tr>
<tr>
<td>
Opposition</td>
<td>
Opposition</td></tr>
<tr>
<td>
Order</td>
<td>
Order</td></tr>
<tr>
<td>
Other Entity Comment</td>
<td>
OtherEntityComment</td></tr>
<tr>
<td>
Panel Meeting</td>
<td>
Panel+Meeting</td></tr>
<tr>
<td>
Panel Report</td>
<td>
Panel+Report</td></tr>
<tr>
<td>
Paperwork Packages</td>
<td>
Paperwork+Packages</td></tr>
<tr>
<td>
Peer Review Agenda</td>
<td>
PeerReviewAgenda</td></tr>
<tr>
<td>
Peer Review Charge</td>
<td>
PeerReviewCharge</td></tr>
<tr>
<td>
Permit, Registration</td>
<td>
Permit%2C+Registration</td></tr>
<tr>
<td>
Petition</td>
<td>
Petition</td></tr>
<tr>
<td>
Petition for Reconsideration</td>
<td>
PetitionforReconsideration</td></tr>
<tr>
<td>
Petition for Rulemaking</td>
<td>
PetitionforRulemaking</td></tr>
<tr>
<td>
Petition for Stay of Action</td>
<td>
PetitionforStayofAction</td></tr>
<tr>
<td>
Petition(s)</td>
<td>
Petition(s)</td></tr>
<tr>
<td>
Petitions for Exemption</td>
<td>
PetitionsforExemption</td></tr>
<tr>
<td>
Petitions for Modification</td>
<td>
PetitionsforModification</td></tr>
<tr>
<td>
Physical Item</td>
<td>
Physical+Item</td></tr>
<tr>
<td>
Planning</td>
<td>
Planning</td></tr>
<tr>
<td>
Pleading</td>
<td>
Pleading</td></tr>
<tr>
<td>
Policy</td>
<td>
Policy</td></tr>
<tr>
<td>
Policy Guidance</td>
<td>
Policy+Guidance</td></tr>
<tr>
<td>
Policy Statement</td>
<td>
Policy+Statement</td></tr>
<tr>
<td>
Policy of Denial</td>
<td>
PolicyofDenial</td></tr>
<tr>
<td>
Post Hearing Order</td>
<td>
PostHearingOrder</td></tr>
<tr>
<td>
Post-Hearing Brief</td>
<td>
Post-Hearing+Brief</td></tr>
<tr>
<td>
Post-Hearing Guidelines</td>
<td>
Post-Hearing+Guidelines</td></tr>
<tr>
<td>
Post-Hearing Order</td>
<td>
Post-Hearing+Order</td></tr>
<tr>
<td>
Post-Trial Brief</td>
<td>
Post-Trial+Brief</td></tr>
<tr>
<td>
Pre-Hearing Guidelines</td>
<td>
Pre-Hearing+Guidelines</td></tr>
<tr>
<td>
Pre-Publication Display</td>
<td>
Pre-Publication+Display</td></tr>
<tr>
<td>
PrePublication Display</td>
<td>
PrePublication+Display</td></tr>
<tr>
<td>
Preliminary</td>
<td>
Preliminary</td></tr>
<tr>
<td>
Preliminary Regulatory Impact Analysis (PRIA)</td>
<td>
PreliminaryRegulatoryImpactAnalysis(PRIA)</td></tr>
<tr>
<td>
Premarket Approval</td>
<td>
Premarket+Approval</td></tr>
<tr>
<td>
Prepublication Display</td>
<td>
Prepublication+Display</td></tr>
<tr>
<td>
Presentation</td>
<td>
Presentation</td></tr>
<tr>
<td>
Presidential Permit</td>
<td>
Presidential+Permit</td></tr>
<tr>
<td>
Press Release, Public Announcement/Notice</td>
<td>
PressRelease%2CPublic+Announcement%2FNotice</td></tr>
<tr>
<td>
Privacy Act</td>
<td>
Privacy+Act</td></tr>
<tr>
<td>
Privacy Act System of Records</td>
<td>
PrivacyActSystemofRecords</td></tr>
<tr>
<td>
Private Citizen Comment</td>
<td>
PrivateCitizenComment</td></tr>
<tr>
<td>
Procedural Schedule</td>
<td>
Procedural+Schedule</td></tr>
<tr>
<td>
Procedure</td>
<td>
Procedure</td></tr>
<tr>
<td>
Product Data Sheets</td>
<td>
ProductDataSheets</td></tr>
<tr>
<td>
Production of Documents</td>
<td>
ProductionofDocuments</td></tr>
<tr>
<td>
Proposal</td>
<td>
Proposal</td></tr>
<tr>
<td>
Proposal(s)</td>
<td>
Proposal(s)</td></tr>
<tr>
<td>
Proposed Guidelines</td>
<td>
Proposed+Guidelines</td></tr>
<tr>
<td>
Proposed Notice</td>
<td>
Proposed+Notice</td></tr>
<tr>
<td>
Proposed Schedule</td>
<td>
Proposed+Schedule</td></tr>
<tr>
<td>
Protocol Review</td>
<td>
Protocol+Review</td></tr>
<tr>
<td>
Provision of Law</td>
<td>
ProvisionofLaw</td></tr>
<tr>
<td>
Public Comment</td>
<td>
Public+Comment</td></tr>
<tr>
<td>
Public Hearing</td>
<td>
Public+Hearing</td></tr>
<tr>
<td>
Public Hearing Transcript, Deposition, Testimony</td>
<td>
PublicHearingTranscript%2C+Deposition%2C+Testimony</td></tr>
<tr>
<td>
Public Hearing/Meeting</td>
<td>
Public+Hearing%2FMeeting</td></tr>
<tr>
<td>
Public Hearings</td>
<td>
Public+Hearings</td></tr>
<tr>
<td>
Public Meeting</td>
<td>
Public+Meeting</td></tr>
<tr>
<td>
Public Meetings</td>
<td>
Public+Meetings</td></tr>
<tr>
<td>
Public Participation</td>
<td>
Public+Participation</td></tr>
<tr>
<td>
Public Submissions Rule</td>
<td>
PublicSubmissionsRule</td></tr>
<tr>
<td>
Public Testimony</td>
<td>
Public+Testimony</td></tr>
<tr>
<td>
Public Transportation</td>
<td>
Public+Transportation</td></tr>
<tr>
<td>
Publication</td>
<td>
Publication</td></tr>
<tr>
<td>
Publication; Copyrighted Materials</td>
<td>
Publication;CopyrightedMaterials</td></tr>
<tr>
<td>
Publication; Other Governmental</td>
<td>
Publication;OtherGovernmental</td></tr>
<tr>
<td>
Publication; Previous/Related FR Notice</td>
<td>
Publication;Previous%2FRelatedFR+Notice</td></tr>
<tr>
<td>
Publication; USEPA</td>
<td>
Publication;+USEPA</td></tr>
<tr>
<td>
Published Study</td>
<td>
Published+Study</td></tr>
<tr>
<td>
Qualified Health Claim</td>
<td>
QualifiedHealthClaim</td></tr>
<tr>
<td>
Qualified Health Claims</td>
<td>
QualifiedHealthClaims</td></tr>
<tr>
<td>
Rate notice</td>
<td>
Rate+notice</td></tr>
<tr>
<td>
Rebuttal</td>
<td>
Rebuttal</td></tr>
<tr>
<td>
Rebuttal Exhibit</td>
<td>
Rebuttal+Exhibit</td></tr>
<tr>
<td>
Recommendations</td>
<td>
Recommendations</td></tr>
<tr>
<td>
Recommended Decision</td>
<td>
Recommended+Decision</td></tr>
<tr>
<td>
Record of Meeting/Phone Conversation</td>
<td>
RecordofMeeting%2FPhone+Conversation</td></tr>
<tr>
<td>
Redelegation of Authorities</td>
<td>
RedelegationofAuthorities</td></tr>
<tr>
<td>
Reference (external attachments)</td>
<td>
Reference(externalattachments)</td></tr>
<tr>
<td>
Reference (internal unless indicated)</td>
<td>
Reference(internalunless+indicated)</td></tr>
<tr>
<td>
Reference Materials</td>
<td>
Reference+Materials</td></tr>
<tr>
<td>
References</td>
<td>
References</td></tr>
<tr>
<td>
References (External) (REF)</td>
<td>
References(External)(REF)</td></tr>
<tr>
<td>
References (internal) (REF)</td>
<td>
References(internal)(REF)</td></tr>
<tr>
<td>
References by submitter</td>
<td>
Referencesbysubmitter</td></tr>
<tr>
<td>
RegSec Transmittals</td>
<td>
RegSec+Transmittals</td></tr>
<tr>
<td>
Regulatory Analysis</td>
<td>
Regulatory+Analysis</td></tr>
<tr>
<td>
Regulatory Guide</td>
<td>
Regulatory+Guide</td></tr>
<tr>
<td>
Regulatory Guide, Draft</td>
<td>
RegulatoryGuide%2CDraft</td></tr>
<tr>
<td>
Regulatory Issue Summary</td>
<td>
RegulatoryIssueSummary</td></tr>
<tr>
<td>
Regulatory Review (REG Flex Section 610)</td>
<td>
RegulatoryReview(REGFlexSection+610)</td></tr>
<tr>
<td>
Reimbursement for Expenses Approval</td>
<td>
ReimbursementforExpenses+Approval</td></tr>
<tr>
<td>
Reinstatement</td>
<td>
Reinstatement</td></tr>
<tr>
<td>
Renewal of Charter</td>
<td>
RenewalofCharter</td></tr>
<tr>
<td>
Renewals</td>
<td>
Renewals</td></tr>
<tr>
<td>
Reopening of Comment Period</td>
<td>
ReopeningofComment+Period</td></tr>
<tr>
<td>
Reply</td>
<td>
Reply</td></tr>
<tr>
<td>
Reply Comment</td>
<td>
Reply+Comment</td></tr>
<tr>
<td>
Reply Comment (RC)</td>
<td>
ReplyComment(RC)</td></tr>
<tr>
<td>
Reply Comments</td>
<td>
Reply+Comments</td></tr>
<tr>
<td>
Reply to Objection</td>
<td>
ReplytoObjection</td></tr>
<tr>
<td>
Report</td>
<td>
Report</td></tr>
<tr>
<td>
Report Submissions</td>
<td>
Report+Submissions</td></tr>
<tr>
<td>
Report/Survey</td>
<td>
Report%2FSurvey</td></tr>
<tr>
<td>
Request</td>
<td>
Request</td></tr>
<tr>
<td>
Request Extension Comment Due Date (EXT)</td>
<td>
RequestExtensionCommentDueDate+(EXT)</td></tr>
<tr>
<td>
Request for Appearance</td>
<td>
RequestforAppearance</td></tr>
<tr>
<td>
Request for Applications</td>
<td>
RequestforApplications</td></tr>
<tr>
<td>
Request for Comment</td>
<td>
RequestforComment</td></tr>
<tr>
<td>
Request for Comments</td>
<td>
RequestforComments</td></tr>
<tr>
<td>
Request for Correction of Information</td>
<td>
RequestforCorrectionofInformation</td></tr>
<tr>
<td>
Request for Extension</td>
<td>
RequestforExtension</td></tr>
<tr>
<td>
Request for Extension Compliance Date (EXP)</td>
<td>
RequestforExtensionComplianceDate+(EXP)</td></tr>
<tr>
<td>
Request for Extension of Comment Due Date</td>
<td>
RequestforExtensionofCommentDueDate</td></tr>
<tr>
<td>
Request for Extension of Time in which to file a document</td>
<td>
RequestforExtensionofTimeinwhichtofileadocument</td></tr>
<tr>
<td>
Request for Grant Proposals</td>
<td>
RequestforGrant+Proposals</td></tr>
<tr>
<td>
Request for Hearing</td>
<td>
RequestforHearing</td></tr>
<tr>
<td>
Request for Information</td>
<td>
RequestforInformation</td></tr>
<tr>
<td>
Request for Nominations</td>
<td>
RequestforNominations</td></tr>
<tr>
<td>
Request for Reconsideration</td>
<td>
RequestforReconsideration</td></tr>
<tr>
<td>
Request for Submissions</td>
<td>
RequestforSubmissions</td></tr>
<tr>
<td>
Requests for Information (RFI)</td>
<td>
RequestsforInformation+(RFI)</td></tr>
<tr>
<td>
Research, Technology, Education</td>
<td>
Research%2C+Technology%2C+Education</td></tr>
<tr>
<td>
Resolution</td>
<td>
Resolution</td></tr>
<tr>
<td>
Response Extension</td>
<td>
Response+Extension</td></tr>
<tr>
<td>
Response to Petitions for Reconsideration</td>
<td>
ResponsetoPetitionsforReconsideration</td></tr>
<tr>
<td>
Response(s)</td>
<td>
Response(s)</td></tr>
<tr>
<td>
Resume, Curriculum Vitae</td>
<td>
Resume%2C+Curriculum+Vitae</td></tr>
<tr>
<td>
Retired (RET)</td>
<td>
Retired+(RET)</td></tr>
<tr>
<td>
Review of Designation</td>
<td>
ReviewofDesignation</td></tr>
<tr>
<td>
Revision to State/Tribe Amendment</td>
<td>
RevisiontoState%2FTribe+Amendment</td></tr>
<tr>
<td>
Revision(s)</td>
<td>
Revision(s)</td></tr>
<tr>
<td>
Revisions to Requests for Grant Proposals</td>
<td>
RevisionstoRequestsforGrant+Proposals</td></tr>
<tr>
<td>
Risk Assessment</td>
<td>
Risk+Assessment</td></tr>
<tr>
<td>
Risk Management Document</td>
<td>
RiskManagementDocument</td></tr>
<tr>
<td>
Routine Use</td>
<td>
Routine+Use</td></tr>
<tr>
<td>
Rulemaking Plan</td>
<td>
Rulemaking+Plan</td></tr>
<tr>
<td>
Ruling</td>
<td>
Ruling</td></tr>
<tr>
<td>
SBREFA Materials</td>
<td>
SBREFA+Materials</td></tr>
<tr>
<td>
SER Letters</td>
<td>
SER+Letters</td></tr>
<tr>
<td>
SER Letters/Supporting Documents</td>
<td>
SERLetters%2FSupportingDocuments</td></tr>
<tr>
<td>
SPE-No Docket ID</td>
<td>
SPE-NoDocketID</td></tr>
<tr>
<td>
Safety</td>
<td>
Safety</td></tr>
<tr>
<td>
Safety Evaluation Report</td>
<td>
SafetyEvaluationReport</td></tr>
<tr>
<td>
Secretary of State Determination</td>
<td>
SecretaryofState+Determination</td></tr>
<tr>
<td>
Security</td>
<td>
Security</td></tr>
<tr>
<td>
Separation of Functions</td>
<td>
SeparationofFunctions</td></tr>
<tr>
<td>
Service Information</td>
<td>
Service+Information</td></tr>
<tr>
<td>
Settlement</td>
<td>
Settlement</td></tr>
<tr>
<td>
Settlement Agreement</td>
<td>
Settlement+Agreement</td></tr>
<tr>
<td>
Shipping Coordinating Committee</td>
<td>
ShippingCoordinatingCommittee</td></tr>
<tr>
<td>
Show Cause Order</td>
<td>
ShowCauseOrder</td></tr>
<tr>
<td>
Signed Federal Register Document</td>
<td>
SignedFederalRegister+Document</td></tr>
<tr>
<td>
Significant Guidance</td>
<td>
Significant+Guidance</td></tr>
<tr>
<td>
Small Business Regulatory Enforcement Fairness Act (SBREFA)</td>
<td>
SmallBusinessRegulatoryEnforcementFairnessAct(SBREFA)</td></tr>
<tr>
<td>
Solicitor (SOL)</td>
<td>
Solicitor+(SOL)</td></tr>
<tr>
<td>
Special Permit</td>
<td>
Special+Permit</td></tr>
<tr>
<td>
Speech</td>
<td>
Speech</td></tr>
<tr>
<td>
Spreadsheets</td>
<td>
Spreadsheets</td></tr>
<tr>
<td>
Stakeholder Meeting</td>
<td>
Stakeholder+Meeting</td></tr>
<tr>
<td>
Standard and Optional Forms</td>
<td>
StandardandOptional+Forms</td></tr>
<tr>
<td>
State Agency Comment</td>
<td>
StateAgencyComment</td></tr>
<tr>
<td>
State Submittal</td>
<td>
State+Submittal</td></tr>
<tr>
<td>
State and Federal Government</td>
<td>
StateandFederal+Government</td></tr>
<tr>
<td>
State/Tribal Submittal</td>
<td>
State%2FTribal+Submittal</td></tr>
<tr>
<td>
State/Tribe Amendment</td>
<td>
State%2FTribe+Amendment</td></tr>
<tr>
<td>
Statement</td>
<td>
Statement</td></tr>
<tr>
<td>
Statement (Supporting and Related Material)</td>
<td>
Statement(SupportingandRelatedMaterial)</td></tr>
<tr>
<td>
Statement of Policy</td>
<td>
StatementofPolicy</td></tr>
<tr>
<td>
Statement of Position</td>
<td>
StatementofPosition</td></tr>
<tr>
<td>
Statement of Work</td>
<td>
StatementofWork</td></tr>
<tr>
<td>
Status</td>
<td>
Status</td></tr>
<tr>
<td>
Statutory Debarment</td>
<td>
Statutory+Debarment</td></tr>
<tr>
<td>
Stipulation(s)</td>
<td>
Stipulation(s)</td></tr>
<tr>
<td>
Studies</td>
<td>
Studies</td></tr>
<tr>
<td>
Studies and Reports</td>
<td>
StudiesandReports</td></tr>
<tr>
<td>
Studies/Government/Public</td>
<td>
Studies%2FGovernment%2FPublic</td></tr>
<tr>
<td>
Study</td>
<td>
Study</td></tr>
<tr>
<td>
Submission of Evidence</td>
<td>
SubmissionofEvidence</td></tr>
<tr>
<td>
Submission of Information</td>
<td>
SubmissionofInformation</td></tr>
<tr>
<td>
Submission of Information (INFO)</td>
<td>
SubmissionofInformation+(INFO)</td></tr>
<tr>
<td>
Subpoena</td>
<td>
Subpoena</td></tr>
<tr>
<td>
Summary (SUM)</td>
<td>
Summary+(SUM)</td></tr>
<tr>
<td>
Summary Decision</td>
<td>
Summary+Decision</td></tr>
<tr>
<td>
Summary of Changes</td>
<td>
SummaryofChanges</td></tr>
<tr>
<td>
Supplement</td>
<td>
Supplement</td></tr>
<tr>
<td>
Supplement (SUP)</td>
<td>
Supplement+(SUP)</td></tr>
<tr>
<td>
Supplemental Comment</td>
<td>
Supplemental+Comment</td></tr>
<tr>
<td>
Supplemental Notice of Proposed Rulemaking (SNPRM)</td>
<td>
SupplementalNoticeofProposedRulemaking+(SNPRM)</td></tr>
<tr>
<td>
Surname &amp; Signature Page</td>
<td>
Surname<span style="text-decoration: underline;">%26</span>Signature+Page</td></tr>
<tr>
<td>
Surreply</td>
<td>
Surreply</td></tr>
<tr>
<td>
System of Records</td>
<td>
SystemofRecords</td></tr>
<tr>
<td>
Technical Specifications</td>
<td>
Technical+Specifications</td></tr>
<tr>
<td>
Technical Support Document</td>
<td>
TechnicalSupportDocument</td></tr>
<tr>
<td>
Temporary Rule</td>
<td>
Temporary+Rule</td></tr>
<tr>
<td>
Termination of Measures</td>
<td>
TerminationofMeasures</td></tr>
<tr>
<td>
Termination of Sanctions</td>
<td>
TerminationofSanctions</td></tr>
<tr>
<td>
Termination of Statutory Disbarment</td>
<td>
TerminationofStatutory+Disbarment</td></tr>
<tr>
<td>
Test Data</td>
<td>
Test+Data</td></tr>
<tr>
<td>
Testimony</td>
<td>
Testimony</td></tr>
<tr>
<td>
Threshold Assessment</td>
<td>
Threshold+Assessment</td></tr>
<tr>
<td>
Town Hall Meeting</td>
<td>
TownHallMeeting</td></tr>
<tr>
<td>
Trade Secret Information</td>
<td>
TradeSecretInformation</td></tr>
<tr>
<td>
Transcript</td>
<td>
Transcript</td></tr>
<tr>
<td>
Transcript(s)</td>
<td>
Transcript(s)</td></tr>
<tr>
<td>
Transcripts</td>
<td>
Transcripts</td></tr>
<tr>
<td>
Transmittals</td>
<td>
Transmittals</td></tr>
<tr>
<td>
Transportation Data</td>
<td>
Transportation+Data</td></tr>
<tr>
<td>
Tribal Impact Statement</td>
<td>
TribalImpactStatement</td></tr>
<tr>
<td>
Unions</td>
<td>
Unions</td></tr>
<tr>
<td>
Variance</td>
<td>
Variance</td></tr>
<tr>
<td>
Venue</td>
<td>
Venue</td></tr>
<tr>
<td>
Waiver</td>
<td>
Waiver</td></tr>
<tr>
<td>
Waivers</td>
<td>
Waivers</td></tr>
<tr>
<td>
Warsaw Agreement</td>
<td>
Warsaw+Agreement</td></tr>
<tr>
<td>
Withdrawal</td>
<td>
Withdrawal</td></tr>
<tr>
<td>
Witness List</td>
<td>
Witness+List</td></tr>
<tr>
<td>
Work Plan</td>
<td>
Work+Plan</td></tr>
<tr>
<td>
Writ</td>
<td>
Writ</td></tr>
<tr>
<td>
Written Testimony</td>
<td>
Written+Testimony</td></tr></tbody>
</table>