---
title: Regulations.gov API

---

<%= partial("layouts/swagger_ie_warning") %>
<style>
.swagger-ui-wrap .info_description a {
	font-size: 16px;
	line-height: 25px;
}
.regulations-main h3 em {
	color: green;
}
</style>
<script type="text/javascript">
  window.swaggerUi = new SwaggerUi({
    url: "/docs/regulations/api-docs.json",
    dom_id: "swagger-ui-container",
    supportHeaderParams: false,
    supportedSubmitMethods: ['get', 'post', 'put', 'delete'],
    onComplete: function(swaggerApi, swaggerUi){
      if(console) {
        console.log("Loaded SwaggerUI")
      }
      $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
    },
    onFailure: function(data) {
      if(console) {
        console.log("Unable to Load SwaggerUI");
        console.log(data);
      }
    },
    docExpansion: "list"
  });

  window.swaggerUi.load();
</script>
<div class="regulations-main">
<h2><%= current_page.data.title %></h2>
<p>When Congress passes laws, federal agencies implement those laws through regulations. Regulations vary in subject, but include everything from ensuring water quality to setting health care standards. Regulations.gov is where users can find and comment on federal regulations. In addition to finding information on Regulations.gov, our APIs allow users to develop alternative ways to present regulatory data. To learn more about the program visit the <a href="http://www.regulations.gov/#!aboutProgram">About Us</a> page.<p>
<h3><em>NEW!</em>  Regulations.gov Commenting API</h3>
<p>Regulations.gov is now offering the first implementation of the Regulations.gov Commenting API. The Commenting API enables developers to build an embeddable comment form on their own site by providing access to agency specific comment forms.  A HTTP POST service validates and accepts completed forms, transmitting them to the responsible agency.</p>
<p>Currently, the Commenting API is available exclusively to the eRulemaking Program's partner agencies and partner agency sponsored organizations.  For information about future opportunities to use the Regulations.gov Commenting API, please contact the eRulemaking Program Management Office (Bryant Crowe at crowe.bryant@epa.gov  and 202-566-0295).</p>
</div>
<div id="swagger-ui-container" class="swagger-ui-wrap swagger-ui-hide-response-content-type">
</div>
