<footer class="usa-footer site-footer" role="contentinfo">
  <div class="footer-section-bottom bg-base-lighter">
    <div class="grid-container">
      <div class="grid-row padding-top-4">
        <div class="site-footer__logo">
          <a href="https://data.gov">
            <img
              class="width-30 height-auto"
              src="https://s3-us-gov-west-1.amazonaws.com/cg-0817d6e3-93c4-4de8-8b32-da6919464e61/logo.png"
              alt="Data.gov logo"
            />
          </a>
        </div>
      </div>
      <div class="grid-row padding-bottom-1">
        <div class="grid-col-auto site-footer__links-container">
          <ul class="grid-row grid-gap site-footer__links--datagov">
            <li><a href="https://data.gov/about/">About</a></li>
            <li><a href="https://data.gov/open-gov/">Open Government</a></li>
            <li>
              <a href="https://data.gov/privacy-policy/">Website Policies</a>
            </li>
            <li><a href="https://www.performance.gov/">PERFORMANCE.GOV</a></li>
          </ul>
          <ul class="site-footer__links--social">
            <li>
              <a href="https://twitter.com/usdatagov"
                >{{ chomp (partial "usa-icon" (dict "icon" "twitter")) }}<span
                  >Twitter</span
                ></a
              >
            </li>
            <li>
              <a href="https://github.com/GSA/data.gov"
                >{{ chomp (partial "usa-icon" (dict "icon" "github")) }}<span
                  >Github</span
                ></a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="usa-identifier">
  <section
    class="usa-identifier__section usa-identifier__section--masthead"
    aria-label="Agency identifier,,,"
  >
    <div class="grid-container-widescreen">
      <div class="usa-identifier__container">
        <div class="usa-identifier__logos">
          <div class="usa-identifier__logo">
            <img
              class="usa-identifier__logo-img"
              alt="GSA logo"
              role="img"
              src="https://s3-us-gov-west-1.amazonaws.com/cg-0817d6e3-93c4-4de8-8b32-da6919464e61/gsa_starmark.png"
            />
          </div>
        </div>
        <div class="usa-identifier__identity" aria-label="Agency description">
          <p class="usa-identifier__identity-domain">data.gov</p>
          <p class="usa-identifier__identity-disclaimer">
            An official website of the GSA's
            <a
              href="https://www.gsa.gov/about-us/organization/federal-acquisition-service/technology-transformation-services"
              class="usa-identifier__required-link usa-link"
              >Technology Transformation Services</a
            >&nbsp;{{ chomp (partial "usa-icon" (dict "icon" "launch")) }}
          </p>
        </div>
      </div>
    </div>
  </section>
  <nav
    class="usa-identifier__section usa-identifier__section--required-links"
    aria-label="Important links,,,"
  >
    <div class="usa-identifier__container">
      <ul class="usa-identifier__required-links-list">
        <li class="usa-identifier__required-links-item">
          <a
            href="https://www.gsa.gov/about-us"
            class="usa-identifier__required-link usa-link"
            >About GSA</a
          >&nbsp;{{ chomp (partial "usa-icon" (dict "icon" "launch")) }}
        </li>
        <li class="usa-identifier__required-links-item">
          <a
            href="https://www.gsa.gov/website-information/website-policies#accessibility"
            class="usa-identifier__required-link usa-link"
            >Accessibility support</a
          >&nbsp;{{ chomp (partial "usa-icon" (dict "icon" "launch")) }}
        </li>
        <li class="usa-identifier__required-links-item">
          <a
            href="https://www.gsa.gov/reference/freedom-of-information-act-foia"
            class="usa-identifier__required-link usa-link"
            >FOIA requests</a
          >&nbsp;{{ chomp (partial "usa-icon" (dict "icon" "launch")) }}
        </li>
        <li class="usa-identifier__required-links-item">
          <a
            href="https://www.gsa.gov/reference/civil-rights-programs/notification-and-federal-employee-antidiscrimination-and-retaliation-act-of-2002"
            class="usa-identifier__required-link usa-link"
            >No FEAR Act data</a
          >&nbsp;{{ chomp (partial "usa-icon" (dict "icon" "launch")) }}
        </li>
        <li class="usa-identifier__required-links-item">
          <a
            href="https://www.gsaig.gov"
            class="usa-identifier__required-link usa-link"
            >Office of the Inspector General</a
          >&nbsp;{{ chomp (partial "usa-icon" (dict "icon" "launch")) }}
        </li>
        <li class="usa-identifier__required-links-item">
          <a
            href="https://www.gsa.gov/reference/reports/budget-performance"
            class="usa-identifier__required-link usa-link"
            >Performance reports</a
          >&nbsp;{{ chomp (partial "usa-icon" (dict "icon" "launch")) }}
        </li>
        <li class="usa-identifier__required-links-item">
          <a
            href="https://www.gsa.gov/website-information/website-policies#privacy"
            class="usa-identifier__required-link usa-link"
            >Privacy policy</a
          >&nbsp;{{ chomp (partial "usa-icon" (dict "icon" "launch")) }}
        </li>
      </ul>
    </div>
  </nav>
  <section
    class="usa-identifier__section usa-identifier__section--usagov"
    aria-label="U.S. government information and services,,,"
  >
    <div class="usa-identifier__container">
      <div class="usa-identifier__usagov-description">
        Looking for U.S. government information and services?
      </div>
      &nbsp;<a href="https://www.usa.gov/" class="usa-link">Visit USA.gov</a
      >&nbsp;{{ chomp (partial "usa-icon" (dict "icon" "launch")) }}
    </div>
  </section>
</div>
