<% unless @item.identifier == "/" %>
  <ul class="breadcrumb">
    <% crumbs = breadcrumbs_trail %>
    <% crumbs.each_with_index do |item, index| %>
      <% if(item) %>
        <% if(@item.identifier == item.identifier) %>
          <li class="active"><%= item[:title] %></li>
        <% else %>
          <li>
            <%= link_to(item[:title], item) %>
            <% if(index != crumbs.length - 1) %>
              <span class="divider">&raquo;</span>
            <% end %>
          </li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
<% end %>
