---
title: SAM
hidden_child: true

---

<%= partial("layouts/swagger_ie_warning") %>

<script type="text/javascript">
  window.swaggerUi = new SwaggerUi({
    url: "/docs/sam-testing/api-docs.json",
    dom_id: "swagger-ui-container",
    supportHeaderParams: false,
    supportedSubmitMethods: ['get', 'post', 'put', 'delete'],
    onComplete: function(swaggerApi, swaggerUi){
      if(console) {
        console.log("Loaded SwaggerUI")
      }
      $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
    },
    onFailure: function(data) {
      if(console) {
        console.log("Unable to Load SwaggerUI");
        console.log(data);
      }
    },
    docExpansion: "list"
  });

  window.swaggerUi.load();
</script>

<div id="swagger-ui-container" class="swagger-ui-wrap swagger-ui-hide-response-content-type">
</div>
