---
title: Contact Us
---

# api.data.gov Contact

api.data.gov provides a service for many different agency APIs. If you need support for a specific API (questions, requesting higher rate limits, etc), it's best to reach out to the specific agency for the API you're using. Here's a list of contacts for specific agency APIs:

- [Contact for BusinessUSA.gov API](https://business.usa.gov/contact-us)
- [Contact for Department of Agriculture - Economic Research Service](mailto:webadmin@ers.usda.gov)
- [Contact for Department of Agriculture - National Nutrient Database](http://www.ars.usda.gov/main/docs.htm?docid=4445)
- [Contact for Department of Commerce](mailto:api@doc.gov)
- [Contact for Department of Education - Civil Rights Data Collection APIs](mailto:developers@ed.gov)
- [Contact for Department of Education - College Scorecard API](mailto:scorecarddata@rti.org)
- [Contact for Department of Education - My Brother's Keeper APIs](mailto:developers@ed.gov)
- [Contact for Federal Communications Commission - Accessibility Clearinghouse](mailto:DRO@fcc.gov)
- [Contact for Federal Communications Commission - Electronic Comment Filing System (ECFS)](mailto:ECFSHelp@fcc.gov)
- [Contact for Federal Election Commission - OpenFEC](mailto:18f-fec@gsa.gov)
- [Contact for Food and Drug Administration - openFDA](mailto:open@fda.hhs.gov)
- [Contact for General Services Administration - Auctions](https://github.com/GSA/Auctions_api/issues)
- [Contact for General Services Administration - Data.gov CKAN API](https://www.data.gov/contact)
- [Contact for General Services Administration - SAM](https://github.com/GSA/sam_api/issues)
- [Contact for General Services Administration - Sustainable Facilities Tool](mailto:sftool@gsa.gov)
- [Contact for Government Publishing Office - govinfo API](https://www.github.com/usgpo/api/issues)
- [Contact for National Aeronautics and Space Administration - NASA Open APIs](mailto:nasa-api@lists.arc.nasa.gov)
- [Contact for National Institutes of Health - 3D Print Exchange](mailto:3dprint@nih.gov)
- [Contact for National Renewable Energy Laboratory - NREL Developer Network](https://developer.nrel.gov/contact/)
- [Contact for Regulations.gov API](https://www.regulations.gov/support)

## api.data.gov Service Contact

If you're interested in using [api.data.gov service](/about/) for your own agency's APIs, or you need to reach out to the api.data.gov team for any other reason, please get in touch:

<p class="required-fields"><abbr title="Required" class="required"><span class="abbr-required">*</span></abbr> Required fields</p>
<form id="apidatagov_contact_form" class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-sm-4 control-label" for="contact_name"><abbr title="Required" class="required"><span class="abbr-required">*</span></abbr> Name</label>
    <div class="col-sm-5">
      <input class="form-control" id="contact_name" name="contact[name]" size="50" type="text" required />
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label" for="contact_email"><abbr title="Required" class="required"><span class="abbr-required">*</span></abbr> Email</label>
    <div class="col-sm-5">
      <input class="form-control" id="contact_email" name="contact[email]" size="50" type="email" required />
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label" for="contact_api"><abbr title="Required" class="required"><span class="abbr-required">*</span></abbr> Which API are you inquiring about?</label>
    <div class="col-sm-5">
      <input class="form-control" id="contact_api" name="contact[api]" size="50" type="text" required placeholder="NASA, Regulations.gov API, etc." />
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label" for="contact_subject"><abbr title="Required" class="required"><span class="abbr-required">*</span></abbr> What can we help you with?</label>
    <div class="col-sm-5">
      <select id="contact_subject" name="contact[subject]" class="form-control" required>
        <option value="">Please select one...</option>
        <option>Using api.data.gov's services for my agency's APIs</option>
        <option>Other</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label" for="contact_message"><abbr title="Required" class="required"><span class="abbr-required">*</span></abbr> Message</label>
    <div class="col-sm-5">
      <textarea class="form-control" cols="40" id="contact_message" name="contact[message]" rows="6" required></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-8">
      <noscript><div class="alert alert-danger" role="alert">Please enable JavaScript to contact us.</div></noscript>
      <button type="submit" class="btn btn-lg btn-primary" data-loading-text="Loading...">Send</button>
    </div>
  </div>
</form>
<script type="text/javascript">
  var apiUmbrellaContactOptions = {
    apiKey: '<%= ENV["API_KEY"] %>',
    issuesUrl: 'https://github.com/18F/api.data.gov/issues'
  };
</script>
<%= javascript_include_tag("contact") %>
