---
title: Home
disable_breadcrumbs: true
disable_in_breadcrumbs_trail: true
---

<p class="home-callout">Easily find and use APIs across federal government.</p>
<hr>

<div class="row">
  <div class="col-md-6 feature feature-doc">
    <h2><a href="/docs">Web Service Documentation</a></h2>
    <p>Explore our available Web services.</p>
    <ul>
      <% sitemap.find_resource_by_destination_path("/docs/index.html").children.sort_by { |p| p.data.title }.each do |child| %>
        <% next if(child.data.hidden_child) %>
        <li><%= link_to(child.data.title, child) %></li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-6 feature feature-key">
    <h2><a href="/signup">API Key</a></h2>
    <p>Sign up to use our APIs.</p>
    <ul>
      <li><a href="/signup">Get an API Key</a></li>
    </ul>
  </div>
</div>

<hr>
<div class="row home-about">
  <h2>About This Service</h2>
  <p>api.data.gov is a free API management service for federal agencies. Our aim is to make it easier for agencies to release and manage APIs.</p>
  <a href="/about/" class="btn btn-default">More information for agencies</a>
</div>
