---
title: Usage Metrics
---

<h1>api.data.gov Usage Metrics</h1>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="row">
  <div class="col-sm-4 metrics-callout">
    <i class="fa fa-users"></i>
    <em>2,800</em>
    API users
  </div>
  <div class="col-sm-4 metrics-callout">
    <i class="fa fa-bar-chart-o"></i>
    <em>66 million</em>
    API requests served
    <br>
  </div>
  <div class="col-sm-4 metrics-callout">
    <i class="fa fa-institution"></i>
    <em>7</em>
    participating agencies
  </div>
</div>
<div class="row metrics-since">
  since July 2013
</div>

<div class="row">
  <div class="col-md-6 text-center">
    <h3>Recent API Key Signups</h3>
    <div id="chart_div2"></div>
  </div>
  <div class="col-md-6 text-center">
    <h3>Recent API Traffic</h3>
    <div id="chart_div"></div>
  </div>
</div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load('visualization', '1.0', {'packages':['corechart']});

  google.setOnLoadCallback(drawHitsChart);
  google.setOnLoadCallback(drawUserChart);

  function drawHitsChart() {
    var data = new google.visualization.DataTable({
      cols: [
        {id: 'date', label: 'Date', type: 'datetime'},
        {id: 'hits', label: 'Hits', type: 'number'},
        {type: 'string', role: 'tooltip'},
      ],
      rows: []
    });

    data.addRows([
      [new Date(2014, 4, 1), 7547940, '7.6 million API hits'],
      [new Date(2014, 5, 1), 7758807, '7.8 million API hits'],
      [new Date(2014, 6, 1), 10371960, '10.4 million API hits'],
      [new Date(2014, 7, 1), 11670758, '11.7 million API hits'],
      [new Date(2014, 8, 1), 9362994, '9.4 million API hits'],
      [new Date(2014, 9, 1), 4643455, '4.6 million API hits'],
    ]);

    var options = {
      colors: ['#4679B2'],
      hAxis: {
        baselineColor: "transparent",
        gridlines: {
          color: "transparent",
        },
        format: 'MMM\nyyyy',
      },
      vAxis: {
        viewWindowMode: 'maximized',
        minValue: 0,
        gridlines: {
          count: 4
        },
        textStyle: {
          fontSize: 11,
        },
      },
      legend: {
        position: 'none',
      }
    };

    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }

  function drawUserChart() {
    var data = new google.visualization.DataTable({
      cols: [
        {id: 'date', label: 'Date', type: 'datetime'},
        {id: 'signups', label: 'Signups', type: 'number'},
        {type: 'string', role: 'tooltip'},
      ],
      rows: []
    });

    data.addRows([
      [new Date(2014, 4, 1), 188, '188 API key signups'],
      [new Date(2014, 5, 1), 1030, '1030 API key signups'],
      [new Date(2014, 6, 1), 363, '363 API key signups'],
      [new Date(2014, 7, 1), 280, '280 API key signups'],
      [new Date(2014, 8, 1), 264, '264 API key signups'],
      [new Date(2014, 9, 1), 118, '118 API key signups'],
    ]);

    var options = {
      colors: ['#4679B2'],
      hAxis: {
        baselineColor: "transparent",
        gridlines: {
          color: "transparent",
        },
        format: 'MMM\nyyyy',
      },
      vAxis: {
        viewWindowMode: 'maximized',
        minValue: 0,
        gridlines: {
          count: 4
        },
        textStyle: {
          fontSize: 11,
        },
      },
      legend: {
        position: 'none',
      }
    };

    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div2'));
    chart.draw(data, options);
  }
</script>

<div class="row metrics-last-updated">
  last updated October 14, 2014
</div>
