---
title: Usage Metrics
---

<h1>api.data.gov Usage Metrics</h1>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="row">
  <div class="col-sm-4 metrics-callout">
    <i class="fa fa-users"></i>
    <em id="total_users"></em>
    API users
  </div>
  <div class="col-sm-4 metrics-callout">
    <i class="fa fa-bar-chart-o"></i>
    <em id="total_hits"></em>
    API requests served
    <br>
  </div>
  <div class="col-sm-4 metrics-callout">
    <i class="fa fa-institution"></i>
    <em>14</em>
    participating agencies
  </div>
</div>
<div class="row metrics-since">
  since July 2013
</div>

<div class="row">
  <div class="col-md-6 text-center">
    <h3>Recent API Key Signups</h3>
    <div id="chart_div2"></div>
  </div>
  <div class="col-md-6 text-center">
    <h3>Recent API Traffic</h3>
    <div id="chart_div"></div>
  </div>
</div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load('visualization', '1.0', {'packages':['corechart']});

  var googleLoaded = false;
  var summaryData;
  google.setOnLoadCallback(function() {
    googleLoaded = true;
    loadIfReady();
  });

  $.ajax({
    url: '<%= ENV["WEB_SITE_ROOT"] %>/api-umbrella/v0/analytics/summary.json?api_key=biBHFQWowEsEGZAkH9DTUu6khOW1oPQHqGQAxzoO',
    success: function(data) {
      summaryData = data;
      loadIfReady();
    },
    error: function() {
      alert('An unexpected error occurred while fetching data');
    },
  });

  function loadIfReady() {
    if(googleLoaded && summaryData) {
      var totalUsers = Math.floor(summaryData.total_users / 100) * 100;
      totalUsers = numeral(totalUsers).format('0,0');
      $('#total_users').text(totalUsers);

      var totalHits = summaryData.total_hits / 1000000000;
      totalHits = numeral(totalHits).format('0,0.00');
      $('#total_hits').text(totalHits + ' billion');

      var lastUpdated = moment(summaryData.cached_at);
      $('#last_updated').text('last updated ' + lastUpdated.format('MMMM D, YYYY'));

      drawHitsChart();
      drawUserChart();
    }
  }

  function drawHitsChart() {
    var data = new google.visualization.DataTable({
      cols: [
        {id: 'date', label: 'Date', type: 'datetime'},
        {id: 'hits', label: 'Hits', type: 'number'},
        {type: 'string', role: 'tooltip'},
      ],
      rows: []
    });

    var recentHits = summaryData.hits_by_month.slice(-6);
    var rows = [];
    for(var i = 0; i < recentHits.length; i++) {
      var recent = recentHits[i];
      rows.push([
        new Date(recent.year, recent.month - 1, 1),
        recent.count,
        numeral(recent.count / 1000000).format('0.0') + ' million API hits'
      ]);
    }

    data.addRows(rows);

    var options = {
      colors: ['#4679B2'],
      hAxis: {
        baselineColor: "transparent",
        gridlines: {
          color: "transparent",
        },
        format: 'MMM\nyyyy',
      },
      vAxis: {
        viewWindowMode: 'maximized',
        minValue: 0,
        gridlines: {
          count: 4
        },
        textStyle: {
          fontSize: 11,
        },
      },
      legend: {
        position: 'none',
      }
    };

    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }

  function drawUserChart() {
    var data = new google.visualization.DataTable({
      cols: [
        {id: 'date', label: 'Date', type: 'datetime'},
        {id: 'signups', label: 'Signups', type: 'number'},
        {type: 'string', role: 'tooltip'},
      ],
      rows: []
    });

    var recentUsers = summaryData.users_by_month.slice(-6);
    var rows = [];
    for(var i = 0; i < recentUsers.length; i++) {
      var recent = recentUsers[i];
      rows.push([
        new Date(recent.year, recent.month - 1, 1),
        recent.count,
        recent.count + ' API key signups'
      ]);
    }

    data.addRows(rows);

    var options = {
      colors: ['#4679B2'],
      hAxis: {
        baselineColor: "transparent",
        gridlines: {
          color: "transparent",
        },
        format: 'MMM\nyyyy',
      },
      vAxis: {
        viewWindowMode: 'maximized',
        minValue: 0,
        gridlines: {
          count: 4
        },
        textStyle: {
          fontSize: 11,
        },
      },
      legend: {
        position: 'none',
      }
    };

    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div2'));
    chart.draw(data, options);
  }
</script>

<div id="last_updated" class="row metrics-last-updated"></div>
