{{ range $.Site.Data.apis }}
  <h2>{{ .name }}</h2>

  <table class="table">
    <tr>
      <td style="width: 50%;">APIs listed in Data.gov</td>
      <td style="width: 50%;">Other Known APIs</td>
    </tr>
    <tr>
      <td>
        {{ if .data_gov_agency_id }}
          {{ $response := getJSON "https://catalog.data.gov/api/3/action/package_search?fq_list=organization:" .data_gov_agency_id "&fq_list=res_format:API&rows=20&sort=title%20asc" }}
          <ul>
            {{ range sort $response.result.results "title" }}
              <li>
                <a href="https://catalog.data.gov/dataset/{{ .name }}"
                  >{{ .title }}</a
                >
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </td>
      <td>
        {{ if .apis }}
          <ul>
            {{ range sort .apis "name" }}
              <li><a href="{{ .url }}">{{ .name }}</a></li>
            {{ end }}
          </ul>
        {{ end }}
      </td>
    </tr>
  </table>
{{ end }}
